Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Remove simulation time from precice-config file of two-scale heat conduction (#668)
  changelog-entries/668.md
  two-scale-heat-conduction/images/tutorials-two-scale-heat-conduction-precice-config.png
  two-scale-heat-conduction/precice-config.xml
Due: check-image-naming, check-links-to-precice

OpenFOAM13-specific changes
  breaking-dam-2d/fluid-openfoam/constant/dynamicMeshDict
  breaking-dam-2d/fluid-openfoam/constant/momentumTransport
  breaking-dam-2d/fluid-openfoam/constant/phaseProperties
  breaking-dam-2d/fluid-openfoam/constant/physicalProperties.air
  breaking-dam-2d/fluid-openfoam/constant/physicalProperties.water
  breaking-dam-2d/fluid-openfoam/system/controlDict
  breaking-dam-2d/fluid-openfoam/system/fvSchemes
  breaking-dam-2d/fluid-openfoam/system/fvSolution
  breaking-dam-2d/precice-config.xml
  flow-over-heated-plate-two-meshes/fluid-openfoam/system/controlDict
  partitioned-backwards-facing-step/fluid1-openfoam/0/U
  partitioned-backwards-facing-step/fluid1-openfoam/0/p
  partitioned-backwards-facing-step/fluid1-openfoam/system/controlDict
  partitioned-backwards-facing-step/fluid2-openfoam/0/U
  partitioned-backwards-facing-step/fluid2-openfoam/0/p
  partitioned-backwards-facing-step/fluid2-openfoam/system/controlDict
  perpendicular-flap/fluid-openfoam/constant/dynamicMeshDict
  perpendicular-flap/fluid-openfoam/system/controlDict
  perpendicular-flap/precice-config.xml
Due: none

Partitioned Burgers eq. 1D initial commit. Dirichlet Neumann coupling.
  partitioned-burgers-1d/.solver-nutils-dgalerkin/solver.py
  partitioned-burgers-1d/clean-tutorial.sh
  partitioned-burgers-1d/compare_burgers.py
  partitioned-burgers-1d/comparison_DG_FV.png
  partitioned-burgers-1d/dirichlet-scipy/run.sh
  partitioned-burgers-1d/generate_ic.py
  partitioned-burgers-1d/ic_params.json
  partitioned-burgers-1d/neumann-scipy/run.sh
  partitioned-burgers-1d/precice-config.xml
  partitioned-burgers-1d/requirements.txt
  partitioned-burgers-1d/run-partitioned-scipy.sh
  partitioned-burgers-1d/solver-scipy-fvolumes/solver.py
  partitioned-burgers-1d/surrogate-burgers/CNN_RES_UNROLL_5.pth
  partitioned-burgers-1d/surrogate-burgers/run.sh
  partitioned-burgers-1d/surrogate-burgers/solver.py
Due: none

Apply suggestions from code review
  two-scale-notch/README.md
  two-scale-notch/macro-calculix/run.sh
Due: check-links-to-precice

Update thermodynamicProperties
  water-hammer/case-1d-3d/fluid3d-openfoam/constant/thermodynamicProperties
Due: none

Update fvSchemes
  water-hammer/case-1d-3d/fluid3d-openfoam/system/fvSchemes
Due: none

Update fvSolution
  water-hammer/case-1d-3d/fluid3d-openfoam/system/fvSolution
Due: none

Update probes
  water-hammer/case-1d-3d/fluid3d-openfoam/system/probes
Due: none

Update thermodynamicProperties
  water-hammer/case-3d-3d/fluid3d-openfoam-left/constant/thermodynamicProperties
Due: none

Update fvSchemes
  water-hammer/case-3d-3d/fluid3d-openfoam-left/system/fvSchemes
Due: none

Update fvSolution
  water-hammer/case-3d-3d/fluid3d-openfoam-left/system/fvSolution
Due: none

Update probes
  water-hammer/case-3d-3d/fluid3d-openfoam-left/system/probes
Due: none

Update probesDict
  water-hammer/case-3d-3d/fluid3d-openfoam-left/system/probesDict
Due: none

Update thermodynamicProperties
  water-hammer/case-3d-3d/fluid3d-openfoam-right/constant/thermodynamicProperties
Due: none

Update fvSchemes
  water-hammer/case-3d-3d/fluid3d-openfoam-right/system/fvSchemes
Due: none

Update fvSolution
  water-hammer/case-3d-3d/fluid3d-openfoam-right/system/fvSolution
Due: none

Update probes
  water-hammer/case-3d-3d/fluid3d-openfoam-right/system/probes
Due: none

Update probesDict
  water-hammer/case-3d-3d/fluid3d-openfoam-right/system/probesDict
Due: none

Update thermodynamicProperties
  water-hammer/case-3d/fluid3d-openfoam-uncoupled/constant/thermodynamicProperties
Due: none

Update fvSchemes
  water-hammer/case-3d/fluid3d-openfoam-uncoupled/system/fvSchemes
Due: none

Update fvSolution
  water-hammer/case-3d/fluid3d-openfoam-uncoupled/system/fvSolution
Due: none

Update probes
  water-hammer/case-3d/fluid3d-openfoam-uncoupled/system/probes
Due: none

Update probesDict
  water-hammer/case-3d/fluid3d-openfoam-uncoupled/system/probesDict
Due: none

Update and rename README.md to README.txt
  water-hammer/README.txt
Due: none

Remove obsolete plot files
  water-hammer/images/plotting_all.py
  water-hammer/images/pout_alltime.png
  water-hammer/images/pout_timewindow.png
Due: check-image-naming

Update precice-config.xml for 3D–3D case
  water-hammer/case-3d-3d/precice-config.xml
Due: none

Changing wording of Calculix case in perpendicular-flap because it is misleading
  perpendicular-flap/README.md
Due: check-links-to-precice

Changing wording of Calculix case in perpendicular-flap because it is misleading (#673)
  perpendicular-flap/README.md
Due: check-links-to-precice

Add initial condition + restart from that for SU2-FOHP
  flow-over-heated-plate/fluid-su2/initial_flow_00000.dat
  flow-over-heated-plate/fluid-su2/laminar_config_unsteady.cfg
Due: none

Rename surrogate burgers to neumann-surrogate
  partitioned-burgers-1d/surrogate-burgers/CNN_RES_UNROLL_5.pth
  partitioned-burgers-1d/surrogate-burgers/run.sh
  partitioned-burgers-1d/surrogate-burgers/solver.py
Due: none

activate-env.sh script
  partitioned-burgers-1d/activate-env.sh
Due: none

Add readme and requirements.txt. Move DG old files
  partitioned-burgers-1d/.solver-nutils-dgalerkin/compare_burgers.py
  partitioned-burgers-1d/.solver-nutils-dgalerkin/comparison_DG_FV.png
  partitioned-burgers-1d/README.md
  partitioned-burgers-1d/requirements.txt
Due: check-links-to-precice

Rename solver-scipy-fvolumes to solver-scipy. Add proper run and clean scripts. Fix requirements.txt for scipy and surrogate solvers. Add example images for README
  partitioned-burgers-1d/activate-env.sh
  partitioned-burgers-1d/clean.sh
  partitioned-burgers-1d/dirichlet-scipy/clean.sh
  partitioned-burgers-1d/dirichlet-scipy/run.sh
  partitioned-burgers-1d/generate-training-data.sh
  partitioned-burgers-1d/generate_ic.py
  partitioned-burgers-1d/images/example_full_domain_evolution.png
  partitioned-burgers-1d/images/example_full_domain_timestep_slice.png
  partitioned-burgers-1d/images/example_initial_condition.png
  partitioned-burgers-1d/neumann-scipy/clean.sh
  partitioned-burgers-1d/neumann-scipy/run.sh
  partitioned-burgers-1d/neumann-surrogate/clean.sh
  partitioned-burgers-1d/neumann-surrogate/requirements.txt
  partitioned-burgers-1d/run-partitioned-scipy.sh
  partitioned-burgers-1d/run-partitioned-surrogate.sh
  partitioned-burgers-1d/solver-scipy/requirements.txt
  partitioned-burgers-1d/solver-scipy/run.sh
  partitioned-burgers-1d/solver-scipy/solver.py
  partitioned-burgers-1d/visualize_partitioned_domain.py
Due: check-image-naming

Update README.md. Conform to tutorial images standard. Update run script to check for initial conditions after installing environment.
  partitioned-burgers-1d/README.md
  partitioned-burgers-1d/dirichlet-scipy/run.sh
  partitioned-burgers-1d/images/tutorials-partitioned-burgers-1d-full-domain-evolution.png
  partitioned-burgers-1d/images/tutorials-partitioned-burgers-1d-full-domain-timestep-slice.png
  partitioned-burgers-1d/images/tutorials-partitioned-burgers-1d-initial-condition.png
  partitioned-burgers-1d/images/tutorials-partitioned-burgers-1d-precice-config.png
  partitioned-burgers-1d/neumann-scipy/run.sh
  partitioned-burgers-1d/neumann-surrogate/run.sh
  partitioned-burgers-1d/solver-scipy/run.sh
Due: check-image-naming, check-links-to-precice

add equation to readme
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Update partitioned-heat-conduction/README.md
  partitioned-heat-conduction/README.md
Due: check-links-to-precice
