Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

check-image-naming:
  name: check image names
  language: python
  entry: tools/check-image-names.py

check-links-to-precice:
  name: check links to precice.org
  language: script
  entry: tools/check-links-to-precice.sh

Copy over from channel transport
  sedimenting-block/clean-tutorial.sh
  sedimenting-block/fluid-nutils/clean.sh
  sedimenting-block/fluid-nutils/fluid.py
  sedimenting-block/fluid-nutils/requirements.txt
  sedimenting-block/fluid-nutils/run.sh
  sedimenting-block/fluid-openfoam/0/ExplicitMomentum
  sedimenting-block/fluid-openfoam/0/ImplicitMomentum
  sedimenting-block/fluid-openfoam/0/U
  sedimenting-block/fluid-openfoam/0/alphaSolid
  sedimenting-block/fluid-openfoam/0/p
  sedimenting-block/fluid-openfoam/clean.sh
  sedimenting-block/fluid-openfoam/constant/transportProperties
  sedimenting-block/fluid-openfoam/constant/turbulenceProperties
  sedimenting-block/fluid-openfoam/run.sh
  sedimenting-block/fluid-openfoam/system/blockMeshDict
  sedimenting-block/fluid-openfoam/system/controlDict
  sedimenting-block/fluid-openfoam/system/decomposeParDict
  sedimenting-block/fluid-openfoam/system/fvSchemes
  sedimenting-block/fluid-openfoam/system/fvSolution
  sedimenting-block/fluid-openfoam/system/preciceDict
  sedimenting-block/particles-mercurydpm/run.sh
  sedimenting-block/particles-mercurydpm/setup-mercurydpm.sh
  sedimenting-block/precice-config.xml
Due: none

Update geometry of the fluid openfoam case
  sedimenting-block/fluid-openfoam/0/U
  sedimenting-block/fluid-openfoam/0/p
  sedimenting-block/fluid-openfoam/constant/transportProperties
  sedimenting-block/fluid-openfoam/system/blockMeshDict
  sedimenting-block/fluid-openfoam/system/controlDict
  sedimenting-block/precice-config.xml
Due: none

Adjust blockMesh
  sedimenting-block/fluid-openfoam/system/blockMeshDict
Due: none

Increase timeout limit
  tools/tests/systemtests/Systemtest.py
Due: none

Remove extra compilaion in docker file
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Formatting in systemtests script (#705)
  tools/tests/systemtests/Systemtest.py
Due: none

Remove formatting change
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Remove irrelevant formatting changes
  tools/tests/tests.yaml
Due: none

Provide a setup script for MercuryDPM
  channel-transport-particles/particles-mercurydpm/setup-mercurydpm.sh
Due: none

Update link to tutorial
  free-flow-over-porous-media/metadata.yaml
Due: none

Update the links to the source page for free-flow-over-porous-media case
  free-flow-over-porous-media/README.md
Due: check-links-to-precice

Update participant name in heat-conduction case
  two-scale-heat-conduction/metadata.yaml
Due: none

Add hint on MerciryDPM compile script
  channel-transport-particles/README.md
Due: check-links-to-precice

Bidirectional exchange
  channel-transport-particles/fluid-openfoam/constant/transportProperties
  channel-transport-particles/fluid-openfoam/system/controlDict
  channel-transport-particles/fluid-openfoam/system/fvSchemes
  channel-transport-particles/fluid-openfoam/system/preciceDict
  channel-transport-particles/precice-config.xml
Due: none

Add convenience script to setup mercury
  channel-transport-particles/particles-mercurydpm/setup-mercurydpm.sh
Due: none

Add changelog
  changelog-entries/696.md
Due: check-links-to-precice

Update TUTORIALS_REF for reference solution generation
  tools/tests/reference_versions.yaml
Due: none

Add comments on Nutils
  channel-transport-particles/fluid-nutils/README.md
  channel-transport-particles/fluid-nutils/fluid.py
  channel-transport-particles/images/tutorials-channel-transport-particles-t-final.png
  channel-transport-particles/precice-config.xml
Due: check-image-naming, check-links-to-precice

Add note on pressure grad
  channel-transport-particles/fluid-nutils/fluid.py
Due: none

Remove latest dune version
  .github/workflows/system-tests-latest-components.yml
Due: none

Speed up building
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

initial commit
  partitioned-heat-conduction-3d/README.md
  partitioned-heat-conduction-3d/clean-tutorial.sh
  partitioned-heat-conduction-3d/dirichlet-fenicsx/clean.sh
  partitioned-heat-conduction-3d/dirichlet-fenicsx/precice-adapter-config-D.json
  partitioned-heat-conduction-3d/dirichlet-fenicsx/run.sh
  partitioned-heat-conduction-3d/images/setup.png
  partitioned-heat-conduction-3d/neumann-fenicsx/clean.sh
  partitioned-heat-conduction-3d/neumann-fenicsx/precice-adapter-config-N.json
  partitioned-heat-conduction-3d/neumann-fenicsx/run.sh
  partitioned-heat-conduction-3d/precice-config.xml
  partitioned-heat-conduction-3d/solver-fenicsx/clean.sh
  partitioned-heat-conduction-3d/solver-fenicsx/errorcomputation.py
  partitioned-heat-conduction-3d/solver-fenicsx/heat.py
  partitioned-heat-conduction-3d/solver-fenicsx/my_enums.py
  partitioned-heat-conduction-3d/solver-fenicsx/problem_setup.py
  partitioned-heat-conduction-3d/solver-fenicsx/requirements.txt
  partitioned-heat-conduction-3d/solver-fenicsx/run.sh
Due: check-image-naming, check-links-to-precice

Adapt system tests setup for fenics-adapter
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

work in progress
  channel-transport-particles/fluid-nutils/fluid.py
Due: none

Use an actually quiescent flowfield
  flow-over-heated-plate/fluid-su2/initial_flow_00000.dat
Due: none

Temporarily switch FENICS_ADAPTER_REF to develop for testing
  tools/tests/components.yaml
Due: none

Use configuration reader in dumux-adapter
  free-flow-over-porous-media/free-flow-dumux/params.input
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/main.cc
  free-flow-over-porous-media/porous-media-dumux/params.input
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/main.cc
  two-scale-heat-conduction/macro-dumux/appl/main.cc
  two-scale-heat-conduction/macro-dumux/params.input
Due: none

remove const
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

add func call
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

typo
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/main.cc
Due: none

add changelog entry
  changelog-entries/713.md
Due: check-links-to-precice

Use configuration reader in dumux-adapter (#713)
  changelog-entries/713.md
  free-flow-over-porous-media/free-flow-dumux/params.input
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/main.cc
  free-flow-over-porous-media/porous-media-dumux/params.input
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/main.cc
  two-scale-heat-conduction/macro-dumux/appl/main.cc
  two-scale-heat-conduction/macro-dumux/params.input
Due: check-links-to-precice

Revert FENICS_ADAPTER_REF back to master
  tools/tests/components.yaml
Due: none

Restore components.yml
  tools/tests/components.yaml
Due: none

Adapt system tests setup for fenics-adapter (#712)
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Relax mpi4py requirement in solver-fenicsx
  partitioned-heat-conduction/solver-fenicsx/requirements.txt
Due: none

Add mpi4py as a dependency of the FEniCSx solver
  flow-over-heated-plate/solid-fenicsx/requirements.txt
Due: none

add cleaning scripts
  partitioned-heat-conduction-3d/clean-tutorial.sh
  partitioned-heat-conduction-3d/dirichlet-fenicsx/clean.sh
  partitioned-heat-conduction-3d/neumann-fenicsx/clean.sh
Due: none

change perm
  partitioned-heat-conduction-3d/dirichlet-fenicsx/clean.sh
  partitioned-heat-conduction-3d/neumann-fenicsx/clean.sh
Due: none

follow naming convention
  partitioned-heat-conduction-3d/README.md
  partitioned-heat-conduction-3d/dirichlet-fenicsx/clean.sh
  partitioned-heat-conduction-3d/neumann-fenicsx/clean.sh
  partitioned-heat-conduction-3d/solver-fenicsx/heat.py
Due: check-links-to-precice

Path conditions:
  check-image-naming: any of: .*/images/.*
  check-links-to-precice: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
