Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

check-image-naming:
  name: check image names
  language: python
  entry: tools/check-image-names.py

check-links-to-precice:
  name: check links to precice.org
  language: script
  entry: tools/check-links-to-precice.sh

Add PRECICE_TUTORIALS_NO_VENV to micro-manager component
  tools/tests/component-templates/micro-manager.yaml
Due: none

Remove redundant copy
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

FEniCS adapter: Enable global venv again
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Fix typos across various README files
  elastic-tube-1d/README.md
  flow-around-controlled-moving-cylinder/README.md
  flow-over-heated-plate-two-meshes/README.md
  flow-over-heated-plate/README.md
  free-flow-over-porous-media/README.md
  heat-exchanger/README.md
  multiple-perpendicular-flaps/README.md
  partitioned-heat-conduction/README.md
  partitioned-pipe-two-phase/README.md
  perpendicular-flap/README.md
  tools/tests/README.md
  two-scale-heat-conduction/README.md
Due: check-links-to-precice

Fix typos across various README files (#784)
  elastic-tube-1d/README.md
  flow-around-controlled-moving-cylinder/README.md
  flow-over-heated-plate-two-meshes/README.md
  flow-over-heated-plate/README.md
  free-flow-over-porous-media/README.md
  heat-exchanger/README.md
  multiple-perpendicular-flaps/README.md
  partitioned-heat-conduction/README.md
  partitioned-pipe-two-phase/README.md
  perpendicular-flap/README.md
  tools/tests/README.md
  two-scale-heat-conduction/README.md
Due: check-links-to-precice

log.sh: Use explicit format for date
  tools/log.sh
Due: none

log.sh: Use explicit format for date (#785)
  tools/log.sh
Due: none

Remove Markdown separators from water-hammer README.md
  water-hammer/README.md
Due: check-links-to-precice

Remove redundant default substeps options
  oscillator-overlap/precice-config.xml
  oscillator/precice-config.xml
  partitioned-heat-conduction/precice-config.xml
  resonant-circuit/precice-config.xml
Due: none

Add changelog entry
  changelog-entries/786.md
Due: check-links-to-precice

Document homebrew and WSL in Quickstart
  quickstart/README.md
Due: check-links-to-precice

Quickstart: Update Ubuntu packages and bump preCICE version to v3.4.1
  quickstart/README.md
Due: check-links-to-precice

Archive and compare iterations.log for implicit coupling
  changelog-entries/743.md
  tools/tests/README.md
  tools/tests/generate_reference_results.py
  tools/tests/systemtests/Systemtest.py
Due: check-links-to-precice

Add external tutorial sources support (git/archive) for systemtests
  changelog-entries/732.md
  tools/tests/README.md
  tools/tests/metadata_parser/metdata.py
  tools/tests/systemtests/Systemtest.py
  tools/tests/systemtests/TestSuite.py
  tools/tests/systemtests/sources.py
Due: check-links-to-precice

Quickstart: Document brew/WSL, add Ubuntu 26.04, bump preCICE to v3.4.1 (#787)
  quickstart/README.md
Due: check-links-to-precice

Address review: drop iterations JSON sidecar and log successful checks
  tools/tests/README.md
  tools/tests/systemtests/Systemtest.py
Due: check-links-to-precice

Fix pre-commit style checks for PR #732
  tools/tests/README.md
  tools/tests/metadata_parser/metdata.py
Due: check-links-to-precice

Remove redundant default substeps options (#786)
  changelog-entries/786.md
  oscillator-overlap/precice-config.xml
  oscillator/precice-config.xml
  partitioned-heat-conduction/precice-config.xml
  resonant-circuit/precice-config.xml
Due: check-links-to-precice

Update .github/pull_request_template.md
  .github/pull_request_template.md
Due: check-links-to-precice

Update issue and PR templates (#782)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/issue-template.md
  .github/pull_request_template.md
Due: check-links-to-precice

Make system test run directories portable for CI artifact replay
  changelog-entries/724.md
  tools/tests/README.md
  tools/tests/systemtests/Systemtest.py
Due: check-links-to-precice

Add requirements-reference.txt for reproducible Python deps (fixes #610)
  .github/pull_request_template.md
  .github/workflows/check-requirements-reference.yml
  changelog-entries/610.md
  tools/tests/README.md
  tools/tests/requirements-reference.txt
  tools/tests/update_requirements_reference.py
  tools/tests/validate_requirements_reference.py
Due: check-links-to-precice

Adding Ishika as Contributor
  CONTRIBUTING.md
Due: check-links-to-precice

Add wolf-sheep-soil-creep tutorial
  wolf-sheep-soil-creep/README.md
  wolf-sheep-soil-creep/images/tutorials-wolf-sheep-soil-creep-erosion_deposition_patterns.png
  wolf-sheep-soil-creep/images/tutorials-wolf-sheep-soil-creep-grass_map.png
  wolf-sheep-soil-creep/images/tutorials-wolf-sheep-soil-creep-precice-config.png
  wolf-sheep-soil-creep/images/tutorials-wolf-sheep-soil-creep-soil_thickness.png
  wolf-sheep-soil-creep/precice-config.xml
  wolf-sheep-soil-creep/soil-creep-landlab/clean.sh
  wolf-sheep-soil-creep/soil-creep-landlab/requirements.txt
  wolf-sheep-soil-creep/soil-creep-landlab/run.sh
  wolf-sheep-soil-creep/soil-creep-landlab/soil_creep.py
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/clean.sh
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/requirements.txt
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/run.sh
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/wolf_sheep_grass.py
Due: check-image-naming, check-links-to-precice

Update README.md
  wolf-sheep-soil-creep/README.md
Due: check-links-to-precice

Update wolf_sheep_grass.py
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/wolf_sheep_grass.py
Due: none

Fix tutorial script permissions
  wolf-sheep-soil-creep/clean-tutorial.sh
  wolf-sheep-soil-creep/soil-creep-landlab/clean.sh
  wolf-sheep-soil-creep/soil-creep-landlab/run.sh
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/clean.sh
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/run.sh
Due: none

Fix wolf-sheep-soil-creep/soil_creep.py
  wolf-sheep-soil-creep/soil-creep-landlab/soil_creep.py
Due: none

Format precice-config.xml
  wolf-sheep-soil-creep/precice-config.xml
Due: none

Format wolf_sheep_grass.py
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/wolf_sheep_grass.py
Due: none

Fix URL to the tutorial files
  wolf-sheep-soil-creep/README.md
Due: check-links-to-precice

Add changelog entry
  changelog-entries/793.md
Due: check-links-to-precice

Add changelog entry
  changelog-entries/658.md
Due: check-links-to-precice

Add Manifest.toml and Project.toml to .gitignore
  .gitignore
Due: none

Add cleaning scripts
  resonant-circuit/capacitor-julia/clean.sh
  resonant-circuit/coil-julia/clean.sh
Due: none

Add missing clean.sh scripts for Python participants
  resonant-circuit/capacitor-python/clean.sh
  resonant-circuit/coil-python/clean.sh
Due: none

Update clean.sh for capacitor-matlab
  resonant-circuit/capacitor-matlab/clean.sh
Due: none

Add missing logger in precice-config.xml
  resonant-circuit/precice-config.xml
Due: none

Path conditions:
  check-image-naming: any of: .*/images/.*
  check-links-to-precice: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
