Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

check-image-naming:
  name: check image names
  language: python
  entry: tools/check-image-names.py

check-links-to-precice:
  name: check links to precice.org
  language: script
  entry: tools/check-links-to-precice.sh

Document the solid polynomial-order trade-off in turek-hron-fsi3
  changelog-entries/915.md
  turek-hron-fsi3/README.md
Due: check-links-to-precice

Use the high-order solid discretisation in the multiple-perpendicular-flaps solids4foam cases
  changelog-entries/916.md
  multiple-perpendicular-flaps/solid-downstream-solids4foam/constant/solidProperties
  multiple-perpendicular-flaps/solid-downstream-solids4foam/system/fvSchemes
  multiple-perpendicular-flaps/solid-downstream-solids4foam/system/fvSolution
  multiple-perpendicular-flaps/solid-upstream-solids4foam/constant/solidProperties
  multiple-perpendicular-flaps/solid-upstream-solids4foam/system/fvSchemes
  multiple-perpendicular-flaps/solid-upstream-solids4foam/system/fvSolution
Due: check-links-to-precice

Parallelize release system tests via per-tutorial matrix (#789)
  .github/workflows/system-tests-manual.yml
  .github/workflows/system-tests-nightly.yml
  .github/workflows/system-tests-release-matrix.yml
  changelog-entries/789.md
  tests/README.md
  tests/parallel_matrix.py
  tests/prepare_matrix.py
Due: check-links-to-precice

Add rule exception in actionlint.yaml
  .github/actionlint.yaml
Due: none

Update actionlint rule exception
  .github/actionlint.yaml
Due: none

Use GHA workflows from the same branch (#901)
  .github/actionlint.yaml
  .github/workflows/generate-reference-results-manual.yml
  .github/workflows/system-tests-manual.yml
  .github/workflows/system-tests-nightly.yml
  .github/workflows/system-tests-pr.yml
  .github/workflows/system-tests-weekly.yml
Due: none

Label the default solid scheme as p = 1 in turek-hron-fsi3
  turek-hron-fsi3/README.md
Due: check-links-to-precice

Record the constitutive law used in turek-hron-fsi3
  turek-hron-fsi3/README.md
Due: check-links-to-precice

Back the constitutive-law note in turek-hron-fsi3 with a measurement
  turek-hron-fsi3/README.md
Due: check-links-to-precice

Base the turek-hron-fsi3 constitutive-law note on the full 15 s run
  turek-hron-fsi3/README.md
Due: check-links-to-precice

Remove note to closed issue
  heat-exchanger/README.md
Due: check-links-to-precice

Use official Julia installer for the julia-bindings tests
  tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Fix Julia bindings tests
  tests/dockerfiles/ubuntu_2404/Dockerfile
  tests/tests.yaml
Due: none

Fix Julia bindings tests (#918)
  tests/dockerfiles/ubuntu_2404/Dockerfile
  tests/tests.yaml
Due: none

fix formatting
  wolf-sheep-soil-creep/precice-config.xml
  wolf-sheep-soil-creep/soil-creep-fenicsx/soil_creep.py
  wolf-sheep-soil-creep/soil-creep-simplified-landlab/soil_creep.py
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/wolf_sheep_grass.py
Due: none

Heat exchanger: Remove link to closed issue
  heat-exchanger/README.md
Due: check-links-to-precice

generate requirements-reference.txt
  wolf-sheep-soil-creep/soil-creep-fenicsx/requirements-reference.txt
  wolf-sheep-soil-creep/soil-creep-simplified-landlab/requirements-reference.txt
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/requirements-reference.txt
Due: none

Update reference results for flow-over-heated-plate_fluid-openfoam_solid-fenicsx
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-fenicsx.tar.gz
Due: none

Update reference results for FEniCSx v0.11 (#919)
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-fenicsx.tar.gz
Due: none

Update README
  wolf-sheep-soil-creep/README.md
Due: check-links-to-precice

Add new soil creep cases to metadata
  wolf-sheep-soil-creep/metadata.yaml
Due: none

Add an absolute tolerance to fieldcompare
  tests/docker-compose.field_compare.template.yaml
  tests/tests.yaml
Due: none

Remove skip_compare from elastic-tube-3d_fluid-openfoam_solid-fenics
  tests/tests.yaml
Due: none

Revert skip_compare from elastic-tube-3d_fluid-openfoam_solid-fenics
  tests/tests.yaml
Due: none

Introduce a fault in the quickstart
  quickstart/fluid-openfoam/0/U
Due: none

Revert fault
  quickstart/fluid-openfoam/0/U
Due: none

Add an absolute tolerance to fieldcompare (#921)
  tests/docker-compose.field_compare.template.yaml
  tests/tests.yaml
Due: none

Add reference results
  wolf-sheep-soil-creep/reference-results/soil-creep-fenicsx_wolf-sheep-grass-mesa.tar.gz
  wolf-sheep-soil-creep/reference-results/soil-creep-landlab_wolf-sheep-grass-mesa.tar.gz
  wolf-sheep-soil-creep/reference-results/soil-creep-simplified-landlab_wolf-sheep-grass-mesa.tar.gz
Due: none

Update wolf-sheep-soil-creep/README.md
  wolf-sheep-soil-creep/README.md
Due: check-links-to-precice

Add fenicsx and simplified Landlab solvers (#889)
  tests/tests.yaml
  wolf-sheep-soil-creep/README.md
  wolf-sheep-soil-creep/images/tutorials-wolf-sheep-soil-creep-precice-config.png
  wolf-sheep-soil-creep/metadata.yaml
  wolf-sheep-soil-creep/precice-config.xml
  wolf-sheep-soil-creep/soil-creep-fenicsx/clean.sh
  wolf-sheep-soil-creep/soil-creep-fenicsx/precice-adapter-config.json
  wolf-sheep-soil-creep/soil-creep-fenicsx/requirements-reference.txt
  wolf-sheep-soil-creep/soil-creep-fenicsx/requirements.txt
  wolf-sheep-soil-creep/soil-creep-fenicsx/run.sh
  wolf-sheep-soil-creep/soil-creep-fenicsx/soil_creep.py
  wolf-sheep-soil-creep/soil-creep-landlab/soil_creep.py
  wolf-sheep-soil-creep/soil-creep-simplified-landlab/clean.sh
  wolf-sheep-soil-creep/soil-creep-simplified-landlab/requirements-reference.txt
  wolf-sheep-soil-creep/soil-creep-simplified-landlab/requirements.txt
  wolf-sheep-soil-creep/soil-creep-simplified-landlab/run.sh
  wolf-sheep-soil-creep/soil-creep-simplified-landlab/soil_creep.py
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/requirements-reference.txt
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/wolf_sheep_grass.py
Due: check-image-naming, check-links-to-precice

Update reference results for wolf-sheep-soil-creep (#922)
  wolf-sheep-soil-creep/reference-results/soil-creep-fenicsx_wolf-sheep-grass-mesa.tar.gz
  wolf-sheep-soil-creep/reference-results/soil-creep-landlab_wolf-sheep-grass-mesa.tar.gz
  wolf-sheep-soil-creep/reference-results/soil-creep-simplified-landlab_wolf-sheep-grass-mesa.tar.gz
Due: none

Quickstart: Update the OpenFOAM and adapter versions
  quickstart/README.md
Due: check-links-to-precice

Add a test suite to produce the perpendicular-flap watchpoints
  tests/tests.yaml
Due: none

Specify reference_result as none
  tests/tests.yaml
Due: none

Fix fluid-nutils tests
  tests/tests.yaml
Due: none

Switch default solids4foam TUTORIALS_REF and OPENFOAM_ADAPTER_REF to develop
  tests/components.yaml
Due: none

Set longer timeouts
  tests/tests.yaml
Due: none

Quickstart: Update the OpenFOAM and adapter versions (#923)
  quickstart/README.md
Due: check-links-to-precice

Add COMPONENT_PR as arguments in components.yaml
  tests/components.yaml
Due: none

Default to empty string
  tests/components.yaml
Due: none

Path conditions:
  check-image-naming: any of: .*/images/.*
  check-links-to-precice: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
