Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Add reference results
  volume-coupled-flow/reference-results/fluid-openfoam_source-nutils.tar.gz
  volume-coupled-flow/reference-results/reference_results.metadata
Due: none

Add water-hammer
  tools/tests/tests.yaml
  water-hammer/metadata.yaml
Due: none

Add reference results
  water-hammer/reference-results/fluid1d-left-nutils_fluid3d-right-openfoam.tar.gz
  water-hammer/reference-results/reference_results.metadata
Due: none

Add missing cases in perpendicular-flap
  perpendicular-flap/metadata.yaml
  tools/tests/tests.yaml
Due: none

Add reference results
  perpendicular-flap/reference-results/fluid-fake_solid-fake.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-nutils.tar.gz
  perpendicular-flap/reference-results/reference_results.metadata
Due: none

Add missing cases in two-scale-heat-conduction
  tools/tests/tests.yaml
  two-scale-heat-conduction/metadata.yaml
Due: none

Add reference results
  two-scale-heat-conduction/reference-results/macro-dumux_micro-dumux.tar.gz
  two-scale-heat-conduction/reference-results/reference_results.metadata
Due: none

Fix test suite
  tools/tests/tests.yaml
Due: none

Cleanup metadata.yaml
  channel-transport-particles/metadata.yaml
  flow-over-heated-plate-steady-state/metadata.yaml
  perpendicular-flap-stress/metadata.yaml
Due: none

Add provisions for more geometric multiscale participants
  partitioned-pipe-multiscale/metadata.yaml
  tools/tests/tests.yaml
  water-hammer/metadata.yaml
Due: none

Reduce max-time of nutils case
  tools/tests/tests.yaml
Due: none

Fix a key error
  tools/tests/systemtests/TestSuite.py
Due: none

Comment-out unused participants
  partitioned-pipe-multiscale/metadata.yaml
  tools/tests/systemtests/TestSuite.py
  water-hammer/metadata.yaml
Due: none

Switch TUTORIALS_REF to develop
  tools/tests/reference_versions.yaml
Due: none

System tests workflows: Fix defaults
  .github/workflows/run_testsuite_manual.yml
  .github/workflows/run_testsuite_workflow.yml
Due: none

Add metadata.yaml and add to the system tests
  tools/tests/tests.yaml
  wolf-sheep-soil-creep/metadata.yaml
Due: none

Address review feedback on system test logging and console output
  .github/workflows/generate_reference_results_workflow.yml
  .github/workflows/run_testsuite_workflow.yml
  changelog-entries/801.md
  tools/tests/README.md
  tools/tests/systemtests.py
  tools/tests/systemtests/Systemtest.py
Due: check-links-to-precice

Fix typo
  tools/tests/tests.yaml
Due: none

Restrict max_time in the tests
  tools/tests/tests.yaml
Due: none

Move uni-directional tests handling to run.sh
  volume-coupled-flow/metadata.yaml
  volume-coupled-flow/source-nutils/run.sh
Due: none

Add wolf-sheep-soil-creep tutorial (#793)
  changelog-entries/793.md
  tools/tests/tests.yaml
  wolf-sheep-soil-creep/README.md
  wolf-sheep-soil-creep/clean-tutorial.sh
  wolf-sheep-soil-creep/images/tutorials-wolf-sheep-soil-creep-erosion_deposition_patterns.png
  wolf-sheep-soil-creep/images/tutorials-wolf-sheep-soil-creep-grass_map.png
  wolf-sheep-soil-creep/images/tutorials-wolf-sheep-soil-creep-precice-config.png
  wolf-sheep-soil-creep/images/tutorials-wolf-sheep-soil-creep-soil_thickness.png
  wolf-sheep-soil-creep/metadata.yaml
  wolf-sheep-soil-creep/precice-config.xml
  wolf-sheep-soil-creep/soil-creep-landlab/.gitignore
  wolf-sheep-soil-creep/soil-creep-landlab/clean.sh
  wolf-sheep-soil-creep/soil-creep-landlab/requirements.txt
  wolf-sheep-soil-creep/soil-creep-landlab/run.sh
  wolf-sheep-soil-creep/soil-creep-landlab/soil_creep.py
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/clean.sh
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/requirements.txt
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/run.sh
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/wolf_sheep_grass.py
Due: check-image-naming, check-links-to-precice

Add reference results for wolf-sheep-soil-creep
  wolf-sheep-soil-creep/reference-results/reference_results.metadata
  wolf-sheep-soil-creep/reference-results/soil-creep-landlab_wolf-sheep-grass-mesa.tar.gz
Due: none

Reduce test timeout to 5min
  tools/tests/README.md
  tools/tests/systemtests/Systemtest.py
Due: check-links-to-precice

Tweak system test console output for GitHub Actions
  tools/tests/systemtests.py
  tools/tests/systemtests/Systemtest.py
Due: none

Restore blank lines between system tests on GitHub Actions
  tools/tests/systemtests.py
Due: none

Align changelog entry for PR 821 with #801 style
  changelog-entries/821.md
Due: check-links-to-precice

Improve the venv setup in run.sh
  channel-transport-particles/fluid-nutils/run.sh
  channel-transport-reaction/chemical-fenics/run.sh
  channel-transport-reaction/fluid-fenics/run.sh
  channel-transport/fluid-nutils/run.sh
  channel-transport/transport-nutils/run.sh
  elastic-tube-1d/fluid-python/run.sh
  elastic-tube-1d/solid-python/run.sh
  elastic-tube-3d/solid-fenics/run.sh
  flow-around-controlled-moving-cylinder/controller-fmi/run.sh
  flow-around-controlled-moving-cylinder/solid-python/run.sh
  flow-over-heated-plate/fluid-su2/run.sh
  flow-over-heated-plate/solid-dunefem/run.sh
  flow-over-heated-plate/solid-fenics/run.sh
  flow-over-heated-plate/solid-nutils/run.sh
  oscillator/mass-left-fmi/run.sh
  oscillator/mass-right-fmi/run.sh
  partitioned-heat-conduction-direct/dirichlet-nutils/run.sh
  partitioned-heat-conduction-direct/neumann-nutils/run.sh
  partitioned-heat-conduction/dirichlet-nutils/run.sh
  partitioned-heat-conduction/neumann-nutils/run.sh
  partitioned-pipe-multiscale/fluid1d-left-nutils/run.sh
  partitioned-pipe-multiscale/fluid1d-right-nutils/run.sh
  perpendicular-flap/fluid-fake/run.sh
  perpendicular-flap/fluid-nutils/run.sh
  perpendicular-flap/fluid-su2/run.sh
  perpendicular-flap/solid-fake/run.sh
  perpendicular-flap/solid-fenics/run.sh
  perpendicular-flap/solid-nutils/run.sh
  resonant-circuit/capacitor-python/run.sh
  resonant-circuit/coil-python/run.sh
  turek-hron-fsi3/fluid-nutils/run.sh
  turek-hron-fsi3/solid-nutils/run.sh
  two-scale-heat-conduction/macro-nutils/run.sh
  two-scale-heat-conduction/micro-nutils/run.sh
  volume-coupled-flow/source-nutils/run.sh
  water-hammer/fluid1d-left-nutils/run.sh
  water-hammer/fluid1d-right-nutils/run.sh
  wolf-sheep-soil-creep/soil-creep-landlab/run.sh
  wolf-sheep-soil-creep/wolf-sheep-grass-mesa/run.sh
Due: none

Update the PR template
  .github/pull_request_template.md
Due: check-links-to-precice

Add default values for the scheduled system-tests-latest-components
  .github/workflows/system-tests-latest-components.yml
Due: none

Increase system tests GLOBAL_TIMEOUT to 10min
  tools/tests/systemtests/Systemtest.py
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: check-links-to-precice

Fix volume-coupled-flow test
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
  volume-coupled-flow/fluid-openfoam/run.sh
  volume-coupled-flow/metadata.yaml
  volume-coupled-flow/source-nutils/run.sh
Due: none

Add a test suite for precice/precice
  tools/tests/tests.yaml
Due: none

Rename release_test to release
  .github/workflows/system-tests-latest-components.yml
  .github/workflows/system-tests-pr.yml
  tools/tests/README.md
  tools/tests/tests.yaml
Due: check-links-to-precice

Add elastic-tube-1d Fortran and perpendicular-flap with CalculiX
  tools/tests/tests.yaml
Due: none

Shorten system test PASS/FAIL lines per review on #801 Drop redundant test name from the status line and remove the extra [n/m] line after each test so GHA logs match the agreed format.
  tools/tests/systemtests.py
Due: none

Add a basic precice test suite (and rename release_test) (#828)
  .github/workflows/system-tests-latest-components.yml
  .github/workflows/system-tests-pr.yml
  tools/tests/README.md
  tools/tests/tests.yaml
Due: check-links-to-precice
