Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

check-image-naming:
  name: check image names
  language: python
  entry: tools/check-image-names.py

check-links-to-precice:
  name: check links to precice.org
  language: script
  entry: tools/check-links-to-precice.sh

precommit changes
  partitioned-heat-conduction-3d/README.md
  partitioned-heat-conduction-3d/images/tutorials-partitioned-heat-conduction-3d-setup.png
  partitioned-heat-conduction-3d/precice-config.xml
Due: check-image-naming, check-links-to-precice

Update changelog-entries/670.md
  changelog-entries/670.md
Due: check-links-to-precice

Update partitioned-burgers-1d/README.md
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Adapt system tests setup for fenics-adapter (#712)
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Addition of 1d-1d and 3d-3d
  water-hammer/README.md
  water-hammer/precice-config-1d-1d.xml
  water-hammer/precice-config-1d-3d.xml
  water-hammer/precice-config-3d-3d.xml
  water-hammer/set-case.sh
Due: check-links-to-precice

Use configuration reader in dumux-adapter (#713)
  changelog-entries/713.md
  free-flow-over-porous-media/free-flow-dumux/params.input
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/main.cc
  free-flow-over-porous-media/porous-media-dumux/params.input
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/main.cc
  two-scale-heat-conduction/macro-dumux/appl/main.cc
  two-scale-heat-conduction/macro-dumux/params.input
Due: check-links-to-precice

Update clean.sh scripts in solver directories to match the other tutorials.
  partitioned-burgers-1d/clean-tutorial.sh
  partitioned-burgers-1d/dirichlet-scipy/clean.sh
  partitioned-burgers-1d/neumann-scipy/clean.sh
  partitioned-burgers-1d/solver-scipy/clean.sh
Due: none

Exclude utils and output folders in cleaning-tools.sh script. This will silence the warning messages.
  tools/cleaning-tools.sh
Due: none

Update precice-config.xml. Fix logging and change from serial to parallel implicit.
  partitioned-burgers-1d/precice-config.xml
Due: none

Use pytorch CPU version by default, user can configure GPU version by uncommenting one line. Relax pyprecice version requirements.
  partitioned-burgers-1d/neumann-surrogate/requirements.txt
  partitioned-burgers-1d/solver-scipy/requirements.txt
Due: none

Remove unnecessary comments and commented out code
  partitioned-burgers-1d/neumann-surrogate/model.py
  partitioned-burgers-1d/solver-scipy/solver.py
Due: none

Fix formatting with pre-commit hook. Why did it flatten one but not the other data exchange?
  partitioned-burgers-1d/precice-config.xml
Due: none

Remove html image formatting from README.md. Change section Visualization to Post-processing. Remove unused initial-condition.png
  partitioned-burgers-1d/README.md
  partitioned-burgers-1d/images/tutorials-partitioned-burgers-1d-initial-condition.png
Due: check-image-naming, check-links-to-precice

Update README.md
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Minor README changes
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Fix system test counter to start from 1 instead of 0
  tools/tests/build_docker_images.py
  tools/tests/generate_reference_results.py
  tools/tests/systemtests.py
Due: none

Handle missing reference results
  tools/tests/systemtests/Systemtest.py
Due: none

Added the 404.md
  changelog-entries/404.md
Due: check-links-to-precice

Fix system test counter to start from 1 instead of 0 (#715)
  tools/tests/build_docker_images.py
  tools/tests/generate_reference_results.py
  tools/tests/systemtests.py
Due: none

Updated the docstring and user logs
  tools/tests/systemtests/Systemtest.py
Due: none

Change the title too
  free-flow-over-porous-media/README.md
Due: check-links-to-precice

remove old title
  free-flow-over-porous-media/README.md
Due: check-links-to-precice

Update the links to the source page for free-flow-over-porous-media case (#709)
  free-flow-over-porous-media/README.md
Due: check-links-to-precice

Addition of 1D-1D/3D-3D and modification of multiscale-spread-profile to multiscale-cross-section-profile
  partitioned-pipe-multiscale/README.md
  partitioned-pipe-multiscale/precice-config-1d-1d.xml
  partitioned-pipe-multiscale/precice-config-1d-3d.xml
  partitioned-pipe-multiscale/precice-config-3d-3d.xml
  partitioned-pipe-multiscale/set-case.sh
Due: check-links-to-precice

Modification of multiscale-spread-profile to multiscale-cross-section-profile
  water-hammer/precice-config-1d-3d.xml
  water-hammer/precice-config-3d-1d.xml
Due: none

Severity > debug & point to files in README.md
  water-hammer/README.md
  water-hammer/precice-config-1d-1d.xml
  water-hammer/precice-config-1d-3d.xml
  water-hammer/precice-config-3d-1d.xml
  water-hammer/precice-config-3d-3d.xml
Due: check-links-to-precice

In line equations
  water-hammer/README.md
Due: check-links-to-precice

Add Python callback interface tutorial and related scripts for elastic tube case
  elastic-tube-1d/README.md
  elastic-tube-1d/fluid-python/FluidSolverCallback.py
  elastic-tube-1d/fluid-python/run-callback.sh
  elastic-tube-1d/precice-config-callback.xml
  elastic-tube-1d/solid-python/SolidSolverCallback.py
  elastic-tube-1d/solid-python/pressureRampAction.py
  elastic-tube-1d/solid-python/run-callback.sh
Due: check-links-to-precice

Add changelog entry for fix-clean-scripts (PR #716)
  changelog-entries/716.md
Due: check-links-to-precice

Make clean-tutorial.sh executable from any directory (#716)
  changelog-entries/716.md
  clean-all.sh
  tools/clean-tutorial-base.sh
Due: check-links-to-precice

Fix symlinks of two clean-tutorial.sh scripts
  channel-transport-reaction/clean-tutorial.sh
  flow-around-controlled-moving-cylinder/clean-tutorial.sh
Due: none

Fix symlinks of two clean-tutorial.sh
  channel-transport-reaction/clean-tutorial.sh
  flow-around-controlled-moving-cylinder/clean-tutorial.sh
Due: none

Move reference_results.metadata into reference-results directory
  .github/workflows/generate_reference_results_workflow.yml
  changelog-entries/537.md
  elastic-tube-1d/reference-results/reference_results.metadata
  flow-over-heated-plate/reference-results/reference_results.metadata
  multiple-perpendicular-flaps/reference-results/reference_results.metadata
  perpendicular-flap/reference-results/reference_results.metadata
  tools/tests/generate_reference_results.py
Due: check-links-to-precice

Add YAML schemas for components, tests, and metadata in preCICE tutorials
  tools/tests/components.yaml
  tools/tests/schemas/component-template.schema.json
  tools/tests/schemas/components.schema.json
  tools/tests/schemas/metadata.schema.json
  tools/tests/schemas/tests.schema.json
  tools/tests/tests.yaml
Due: none

Add GitHub token to system tests workflows for secure access
  .github/workflows/system-tests-latest-components.yml
  .github/workflows/system-tests-pr.yml
Due: none

Guard custom pre-commit hooks against untracked files
  tools/check-image-names.py
  tools/check-size.sh
  tools/check.sh
Due: none

Guard custom pre-commit hooks against untracked files (#725)
  tools/check-image-names.py
  tools/check-size.sh
  tools/check.sh
Due: none

style: autopep8 fixes from pre-commit
  tools/tests/generate_reference_results.py
Due: none

Path conditions:
  check-image-naming: any of: .*/images/.*
  check-links-to-precice: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
