Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

check-image-naming:
  name: check image names
  language: python
  entry: tools/check-image-names.py

check-links-to-precice:
  name: check links to precice.org
  language: script
  entry: tools/check-links-to-precice.sh

Revert #634 (#640)
  changelog-entries/634.md
  elastic-tube-1d/precice-config.xml
  perpendicular-flap/precice-config.xml
Due: check-links-to-precice

Update tutorials reference
  tools/tests/reference_versions.yaml
Due: none

Add flow-over-heated-plate-nearest-projection case to the system tests
  changelog-entries/747.md
  flow-over-heated-plate-nearest-projection/metadata.yaml
  tools/tests/tests.yaml
Due: check-links-to-precice

Heat exchanger simplified: Reduce max-time and write frequency (#770)
  changelog-entries/770 .md
  heat-exchanger-simplified/README.md
  heat-exchanger-simplified/fluid-bottom-openfoam/system/controlDict
  heat-exchanger-simplified/fluid-top-openfoam/system/controlDict
  heat-exchanger-simplified/images/tutorials-heat-exchanger-simplified-overview-1s.png
  heat-exchanger-simplified/images/tutorials-heat-exchanger-simplified-overview-5s.png
  heat-exchanger-simplified/images/tutorials-heat-exchanger-simplified-overview.png
  heat-exchanger-simplified/precice-config.xml
  heat-exchanger-simplified/solid-calculix/solid.inp
Due: check-image-naming, check-links-to-precice

Fix Ubuntu 24.04 systemtest Docker user setup (#772)
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Fix pre-commit
  tools/tests/systemtests/TestSuite.py
Due: none

Add per-test max_time override for system tests (#744)
  changelog-entries/402.md
  tools/tests/README.md
  tools/tests/generate_reference_results.py
  tools/tests/systemtests.py
  tools/tests/systemtests/Systemtest.py
  tools/tests/systemtests/TestSuite.py
Due: check-links-to-precice

Add retries for systemtest Docker package downloads
  tools/tests/dockerfiles/ubuntu_2204/Dockerfile
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Deduplicate system test entries in tests.yaml
  tools/tests/tests.yaml
Due: none

Add changelog entry
  changelog-entries/675.md
Due: check-links-to-precice

Add initial state config and add a note
  flow-over-heated-plate/fluid-su2/laminar_config_steady.cfg
Due: none

Fix the integration by parts on the viscous term
  channel-transport-particles/fluid-nutils/fluid.py
Due: none

Keep default wget retry behavior
  tools/tests/dockerfiles/ubuntu_2204/Dockerfile
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Make system tests output filenames more descriptive
  tools/tests/README.md
  tools/tests/systemtests/Systemtest.py
Due: check-links-to-precice

Make system tests output filenames more descriptive (#776)
  tools/tests/README.md
  tools/tests/systemtests/Systemtest.py
Due: check-links-to-precice

System tests components.yaml: Fix description for various arguments
  tools/tests/components.yaml
Due: none

Introduce a verbosity option to tools/check.sh
  tools/check.sh
Due: none

CI: Remove verbosity from the pre-commit run
  .github/workflows/check-style.yml
Due: none

Introduce a verbosity option to tools/check-size.sh
  tools/check-size.sh
Due: none

System tests components.yaml: Fix description for various arguments (#777)
  tools/tests/components.yaml
Due: none

Improve parsing of test suites input
  tools/tests/generate_reference_results.py
Due: none

Improve error message in generate_reference_results.py
  tools/tests/generate_reference_results.py
Due: none

Improve git add filter
  .github/workflows/generate_reference_results_workflow.yml
Due: none

Actions workflow: Improve input argument handling
  .github/workflows/generate_reference_results_workflow.yml
Due: none

Apply Copilot suggestion to improve git add
  .github/workflows/generate_reference_results_workflow.yml
Due: none

Add --suites filter to generate_reference_results (#728)
  .github/workflows/generate_reference_results_manual.yml
  .github/workflows/generate_reference_results_workflow.yml
  changelog-entries/711.md
  tools/tests/generate_reference_results.py
Due: check-links-to-precice

Revert demonstration changes in tests.yaml
  tools/tests/tests.yaml
Due: none

Rename environment variable
  changelog-entries/735.md
  tools/tests/README.md
  tools/tests/systemtests/Systemtest.py
Due: check-links-to-precice

Revert reference results update
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-fenics.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-nutils.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-openfoam.tar.gz
  flow-over-heated-plate/reference-results/reference_results.metadata
Due: none

Remove unrelated change in Nutils requirements.txt
  flow-over-heated-plate/solid-nutils/requirements.txt
Due: none

Ensure that timeout is an integer
  tools/tests/systemtests/TestSuite.py
Due: none

System tests: Add configurable simulation timeout per test case (#735)
  changelog-entries/735.md
  tools/tests/README.md
  tools/tests/generate_reference_results.py
  tools/tests/systemtests.py
  tools/tests/systemtests/Systemtest.py
  tools/tests/systemtests/TestSuite.py
Due: check-links-to-precice

Fix link to G+Smo adapter documentation
  perpendicular-flap-stress/README.md
Due: check-links-to-precice

CI: Always upload main log files
  .github/workflows/generate_reference_results_workflow.yml
  .github/workflows/run_testsuite_workflow.yml
Due: none

Make run.sh scripts consistent
  partitioned-heat-conduction-direct/dirichlet-gismo/run.sh
  partitioned-heat-conduction-direct/neumann-gismo/run.sh
  partitioned-heat-conduction/README.md
  partitioned-heat-conduction/dirichlet-gismo/run.sh
  partitioned-heat-conduction/neumann-gismo/run.sh
Due: check-links-to-precice

CI: Always upload main log files (#779)
  .github/workflows/generate_reference_results_workflow.yml
  .github/workflows/run_testsuite_workflow.yml
Due: none

Path conditions:
  check-image-naming: any of: .*/images/.*
  check-links-to-precice: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
