Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Set a cylinder, increase mesh cells, add U_vol workaround
  channel-transport/transport-openfoam/clean.sh
  channel-transport/transport-openfoam/constant/fvOptions
  channel-transport/transport-openfoam/constant/transportProperties
  channel-transport/transport-openfoam/run.sh
  channel-transport/transport-openfoam/system/blockMeshDict
  channel-transport/transport-openfoam/system/fvSchemes
  channel-transport/transport-openfoam/system/fvSolution
  channel-transport/transport-openfoam/system/preciceDict
  channel-transport/transport-openfoam/system/setFieldsDict
  channel-transport/transport-openfoam/system/topoSetDict
Due: none

Add modified solver
  channel-transport/transport-openfoam/.gitignore
  channel-transport/transport-openfoam/0.orig/T
  channel-transport/transport-openfoam/Make/files
  channel-transport/transport-openfoam/Make/options
  channel-transport/transport-openfoam/constant/fvOptions
  channel-transport/transport-openfoam/createFields.H
  channel-transport/transport-openfoam/dynamicScalarTransportFoam.C
  channel-transport/transport-openfoam/run.sh
  channel-transport/transport-openfoam/system/controlDict
  channel-transport/transport-openfoam/system/topoSetDict
Due: none

Remove U_vol and rename solver
  channel-transport/transport-openfoam/clean.sh
  channel-transport/transport-openfoam/constant/fvOptions
  channel-transport/transport-openfoam/dynamicScalarTransportFoam.C
  channel-transport/transport-openfoam/system/preciceDict
Due: none

fix
  channel-transport/transport-openfoam/.clang-format
  channel-transport/transport-openfoam/.gitignore
Due: none

Revert to default schemes
  channel-transport/transport-openfoam/system/fvSchemes
Due: none

Fix dimensions of T
  channel-transport/transport-openfoam/0.orig/T
Due: none

Revert to tutorial files
  channel-transport/transport-openfoam/system/fvSchemes
  channel-transport/transport-openfoam/system/fvSolution
Due: none

Recompute phi after the preCICE adapter
  channel-transport/transport-openfoam/dynamicScalarTransportFoam.C
Due: none

Correctly set blob
  channel-transport/transport-openfoam/run.sh
  channel-transport/transport-openfoam/system/setExprFieldsDict
  channel-transport/transport-openfoam/system/setFieldsDict
Due: none

Add OpenFOAM transport to README
  channel-transport/README.md
Due: check-links-to-precice

volume-coupled-flow: add y and z components in source term
  volume-coupled-flow/fluid-openfoam/constant/fvOptions
Due: none

Update Quickstart for OpenFOAM v2406 and adapter v1.3.1
  quickstart/README.md
Due: check-links-to-precice

Add changelog entry
  changelog-entries/545.md
Due: check-links-to-precice

Fix markdown-lint pre-commit exclusion rules
  .pre-commit-config.yaml
Due: none

Add changelog entry
  changelog-entries/544.md
Due: check-links-to-precice

Update image
  volume-coupled-flow/images/tutorials-volume-coupled-flow-Ux.png
Due: check-image-naming

Update Quickstart for OpenFOAM v2406 and adapter v1.3.1 (#545)
  changelog-entries/545.md
  quickstart/README.md
Due: check-links-to-precice

Minor language fixes in resonant-circuit
  resonant-circuit/README.md
Due: check-links-to-precice

volume-coupled-flow: add y and z components in source term (#544)
  changelog-entries/544.md
  volume-coupled-flow/fluid-openfoam/constant/fvOptions
  volume-coupled-flow/images/tutorials-volume-coupled-flow-Ux.png
Due: check-image-naming, check-links-to-precice

Add solid fake to list of solid solvers in README
  perpendicular-flap/README.md
Due: check-links-to-precice

Set NumPy version requirement for Nutils cases
  channel-transport/fluid-nutils/requirements.txt
  channel-transport/transport-nutils/requirements.txt
  flow-over-heated-plate/solid-nutils/requirements.txt
  partitioned-heat-conduction-direct/dirichlet-nutils/requirements.txt
  partitioned-heat-conduction-direct/neumann-nutils/requirements.txt
  partitioned-heat-conduction/dirichlet-nutils/requirements.txt
  partitioned-heat-conduction/neumann-nutils/requirements.txt
  perpendicular-flap/fluid-fake/requirements.txt
  perpendicular-flap/fluid-nutils/requirements.txt
  perpendicular-flap/solid-nutils/requirements.txt
  two-scale-heat-conduction/macro-nutils/requirements.txt
  two-scale-heat-conduction/micro-nutils/requirements.txt
Due: none

Set NumPy version requirement for Nutils cases (#548)
  channel-transport/fluid-nutils/requirements.txt
  channel-transport/transport-nutils/requirements.txt
  flow-over-heated-plate/solid-nutils/requirements.txt
  partitioned-heat-conduction-direct/dirichlet-nutils/requirements.txt
  partitioned-heat-conduction-direct/neumann-nutils/requirements.txt
  partitioned-heat-conduction/dirichlet-nutils/requirements.txt
  partitioned-heat-conduction/neumann-nutils/requirements.txt
  perpendicular-flap/fluid-fake/requirements.txt
  perpendicular-flap/fluid-nutils/requirements.txt
  perpendicular-flap/solid-nutils/requirements.txt
  two-scale-heat-conduction/macro-nutils/requirements.txt
  two-scale-heat-conduction/micro-nutils/requirements.txt
Due: none

Add docs on extending system test dispatches to new repos
  tools/tests/README.md
Due: check-links-to-precice

Fix trailing whitespace
  tools/tests/README.md
Due: check-links-to-precice

Only set initial condition
  channel-transport/transport-openfoam/run.sh
Due: none

Add note about openfoam conserving T
  channel-transport/README.md
Due: check-links-to-precice

Fix application name
  channel-transport/transport-openfoam/dynamicScalarTransportFoam.C
Due: none

Add changelog
  changelog-entries/551.md
Due: check-links-to-precice

Fix typo in components.yaml
  tools/tests/components.yaml
Due: none

Update tools/tests/README.md
  tools/tests/README.md
Due: check-links-to-precice

Fix typo in components.yaml (#553)
  tools/tests/components.yaml
Due: none

Formatting
  perpendicular-flap/solid-fenics/solid.py
Due: none

Fix crash while using subcycling for FEniCS-OpenFOAM perpendicular flap tutorial
  perpendicular-flap/solid-fenics/solid.py
Due: none

Add job submission script
  two-scale-heat-conduction/submit-job.sh
Due: none

Revert "Add job submission script"
  two-scale-heat-conduction/submit-job.sh
Due: none

Add micro time step to the Micro Manager configuration in two-scale-heat-conduction
  two-scale-heat-conduction/micro-dumux/micro-manager-config.json
  two-scale-heat-conduction/micro-nutils/micro-manager-config.json
Due: none

Add suggested changes, run and requirements file
  perpendicular-flap/solid-fake/fake.py
  perpendicular-flap/solid-fake/requirements.txt
  perpendicular-flap/solid-fake/run.sh
Due: none

Add changelog entry.
  changelog-entries/554.md
Due: check-links-to-precice

Fix crash for FEniCS-OpenFOAM perpendicular flap example with subcycling (#554)
  changelog-entries/554.md
  perpendicular-flap/solid-fenics/solid.py
Due: check-links-to-precice

Add suggested changes
  perpendicular-flap/solid-fake/fake.py
Due: none
