Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

check-image-naming:
  name: check image names
  language: python
  entry: tools/check-image-names.py

check-links-to-precice:
  name: check links to precice.org
  language: script
  entry: tools/check-links-to-precice.sh

Fix nutils 6 treelog compat
  perpendicular-flap/fluid-nutils/requirements.txt
Due: none

Fix nutils 6 treelog compatibility (#761)
  perpendicular-flap/fluid-nutils/requirements.txt
Due: none

systemtests: add perpendicular-flap solid-openfoam and solid-fenics cases
  changelog-entries/448.md
  tools/tests/tests.yaml
Due: check-links-to-precice

systemtests: add flow-over-heated-plate-nearest-projection case
  changelog-entries/747.md
  flow-over-heated-plate-nearest-projection/metadata.yaml
  tools/tests/tests.yaml
Due: check-links-to-precice

Replace config visualization PDF by PNG for particle tutorial
  channel-transport-particles/README.md
  channel-transport-particles/images/tutorials-channel-transport-particles-precice-config.pdf
Due: check-image-naming, check-links-to-precice

add png
  channel-transport-particles/images/tutorials-channel-transport-particles-precice-config.png
Due: check-image-naming

Replace config visualization PDF by PNG for particle tutorial (#764)
  channel-transport-particles/README.md
  channel-transport-particles/images/tutorials-channel-transport-particles-precice-config.pdf
  channel-transport-particles/images/tutorials-channel-transport-particles-precice-config.png
Due: check-image-naming, check-links-to-precice

Fix style issues in run.sh and README
  partitioned-heat-conduction-direct/dirichlet-gismo/run.sh
  partitioned-heat-conduction-direct/neumann-gismo/run.sh
  partitioned-heat-conduction/README.md
  partitioned-heat-conduction/dirichlet-gismo/run.sh
  partitioned-heat-conduction/neumann-gismo/run.sh
Due: check-links-to-precice

Using safety margin for penalty parameter
  channel-transport-particles/fluid-nutils/fluid.py
Due: none

Flatten the force
  channel-transport-particles/fluid-nutils/fluid.py
Due: none

Write output files after the first timestep has completed
  channel-transport-particles/fluid-nutils/fluid.py
Due: none

Use mediocre, but better initial conditions for the velocity
  channel-transport-particles/fluid-nutils/fluid.py
Due: none

Apply density scaling correctly on the pressure gradient
  channel-transport-particles/fluid-nutils/fluid.py
Due: none

Add stabilization terms and complete the discretization
  channel-transport-particles/fluid-nutils/fluid.py
Due: none

Rectify division by density
  channel-transport-particles/fluid-nutils/fluid.py
Due: none

Revert #634 (#640)
  changelog-entries/634.md
  elastic-tube-1d/precice-config.xml
  perpendicular-flap/precice-config.xml
Due: check-links-to-precice

Validate path before extracting
  tools/tests/systemtests/Systemtest.py
Due: none

Fix style
  tools/tests/systemtests/Systemtest.py
Due: none

Handle missing reference results gracefully in Systemtest field comparison (#717)
  changelog-entries/404.md
  tools/tests/systemtests/Systemtest.py
Due: check-links-to-precice

Add flow-over-heated-plate-nearest-projection case to the system tests
  changelog-entries/747.md
  flow-over-heated-plate-nearest-projection/metadata.yaml
  tools/tests/tests.yaml
Due: check-links-to-precice

Add heat-exchanger-simplified to the system tests (#731)
  changelog-entries/731.md
  tools/tests/tests.yaml
Due: check-links-to-precice

Add perpendicular-flap solid-openfoam and solid-fenics cases to the system tests (#746)
  changelog-entries/448.md
  tools/tests/tests.yaml
Due: check-links-to-precice

Define YAML anchor before referencing it
  tools/tests/tests.yaml
Due: none

Increase system tests timeout to 20min (1200s)
  tools/tests/systemtests/Systemtest.py
Due: none

Heat exchanger simplified: Reduce max-time and write frequency
  changelog-entries/770 .md
  heat-exchanger-simplified/README.md
  heat-exchanger-simplified/fluid-bottom-openfoam/system/controlDict
  heat-exchanger-simplified/fluid-top-openfoam/system/controlDict
  heat-exchanger-simplified/images/tutorials-heat-exchanger-simplified-overview-1s.png
  heat-exchanger-simplified/images/tutorials-heat-exchanger-simplified-overview-5s.png
  heat-exchanger-simplified/images/tutorials-heat-exchanger-simplified-overview.png
  heat-exchanger-simplified/precice-config.xml
  heat-exchanger-simplified/solid-calculix/solid.inp
Due: check-image-naming, check-links-to-precice

Heat exchanger simplified: Reduce max-time and write frequency (#770)
  changelog-entries/770 .md
  heat-exchanger-simplified/README.md
  heat-exchanger-simplified/fluid-bottom-openfoam/system/controlDict
  heat-exchanger-simplified/fluid-top-openfoam/system/controlDict
  heat-exchanger-simplified/images/tutorials-heat-exchanger-simplified-overview-1s.png
  heat-exchanger-simplified/images/tutorials-heat-exchanger-simplified-overview-5s.png
  heat-exchanger-simplified/images/tutorials-heat-exchanger-simplified-overview.png
  heat-exchanger-simplified/precice-config.xml
  heat-exchanger-simplified/solid-calculix/solid.inp
Due: check-image-naming, check-links-to-precice

heat-exchanger-simplified test: Rename `fluid-btm-openfoam` case.
  heat-exchanger-simplified/metadata.yaml
  tools/tests/tests.yaml
Due: none

Add Quickstart to the system tests
  quickstart/metadata.yaml
  tools/tests/tests.yaml
Due: none

Add changelog entry
  changelog-entries/771.md
Due: check-links-to-precice

Add Quickstart to the system tests (#771)
  changelog-entries/771.md
  quickstart/metadata.yaml
  tools/tests/tests.yaml
Due: check-links-to-precice

Update tutorials reference
  tools/tests/reference_versions.yaml
Due: none

Fix Ubuntu 24.04 systemtest Docker user setup
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Adding reference results
  elastic-tube-1d/reference-results/fluid-cpp_solid-cpp.tar.gz
  elastic-tube-1d/reference-results/fluid-cpp_solid-python.tar.gz
  elastic-tube-1d/reference-results/fluid-python_solid-python.tar.gz
  elastic-tube-1d/reference-results/reference_results.metadata
  flow-over-heated-plate-nearest-projection/reference-results/fluid-openfoam_solid-openfoam.tar.gz
  flow-over-heated-plate-nearest-projection/reference-results/reference_results.metadata
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-fenics.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-nutils.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-openfoam.tar.gz
  flow-over-heated-plate/reference-results/reference_results.metadata
  free-flow-over-porous-media/reference-results/free-flow-dumux_porous-media-dumux.tar.gz
  heat-exchanger-simplified/reference-results/fluid-top-openfoam_fluid-bottom-openfoam_solid-calculix.tar.gz
  heat-exchanger-simplified/reference-results/reference_results.metadata
  multiple-perpendicular-flaps/reference-results/reference_results.metadata
  perpendicular-flap/reference-results/fluid-openfoam_solid-calculix.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-dealii.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-fenics.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-openfoam.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-upstream-dealii_solid-downstream-dealii.tar.gz
  perpendicular-flap/reference-results/fluid-su2_solid-fenics.tar.gz
  perpendicular-flap/reference-results/reference_results.metadata
  quickstart/reference-results/fluid-openfoam_solid-cpp.tar.gz
  quickstart/reference-results/reference_results.metadata
  two-scale-heat-conduction/reference-results/macro-dumux_micro-dumux.tar.gz
  two-scale-heat-conduction/reference-results/reference_results.metadata
Due: none

Path conditions:
  check-image-naming: any of: .*/images/.*
  check-links-to-precice: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
