Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Adjust the solids4foam component arguments
  tools/tests/components.yaml
Due: none

Move the Dockerfile changes to a standalone Dockerfile
  tools/tests/components.yaml
  tools/tests/dockerfiles/ubuntu_2204_solids4foam/Dockerfile
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Update perpendicular-flap/solid-solids4foam
  perpendicular-flap/solid-solids4foam/system/fvSchemes
Due: none

Revert "Move the Dockerfile changes to a standalone Dockerfile"
  tools/tests/components.yaml
  tools/tests/dockerfiles/ubuntu_2204_solids4foam/Dockerfile
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Revert TUTORIALS_REF
  tools/tests/reference_versions.yaml
Due: none

Add reference results for solids4foam
  perpendicular-flap/reference-results/fluid-openfoam_solid-solids4foam.tar.gz
  perpendicular-flap/reference-results/reference_results.metadata
Due: none

Select test
  tools/tests/tests.yaml
Due: none

Add reference results for two-scale-heat-conduction_macro-nutils_micro-nutils
  two-scale-heat-conduction/reference-results/macro-nutils_micro-nutils.tar.gz
  two-scale-heat-conduction/reference-results/reference_results.metadata
Due: none

Revert selected test
  tools/tests/tests.yaml
Due: none

Add reference results for two-scale-heat-conduction_macro-nutils_micro-nutils (#874)
  two-scale-heat-conduction/reference-results/macro-nutils_micro-nutils.tar.gz
  two-scale-heat-conduction/reference-results/reference_results.metadata
Due: none

Split system tests scheduled and manual workflows
  .github/workflows/system-tests-latest-components.yml
  .github/workflows/system-tests-manual.yml
Due: none

Rename workflows
  .github/workflows/system-tests-nightly.yml
  .github/workflows/system-tests-pr.yml
  .github/workflows/system-tests-weekly.yml
Due: none

Update documentation
  README.md
  tools/tests/README.md
Due: check-links-to-precice

Add badge of weekly tests into the README.md
  README.md
Due: check-links-to-precice

Add changelog entry
  changelog-entries/875.md
Due: check-links-to-precice

Restore TUTORIALS_PR argument in system-tests-pr.yml
  .github/workflows/system-tests-pr.yml
Due: none

Fix typo
  tools/tests/README.md
Due: check-links-to-precice

Split manual and scheduled system tests workflows (#875)
  .github/workflows/system-tests-manual.yml
  .github/workflows/system-tests-nightly.yml
  .github/workflows/system-tests-pr.yml
  .github/workflows/system-tests-weekly.yml
  README.md
  changelog-entries/875.md
  tools/tests/README.md
Due: check-links-to-precice

Add ASTE to the system tests
  aste-turbine/metadata.yaml
  tools/tests/component-templates/aste.yaml
  tools/tests/components.yaml
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
  tools/tests/tests.yaml
Due: none

Increase the build_timeout
  tools/tests/components.yaml
Due: none

Pre-process ASTE test case
  tools/tests/tests.yaml
Due: none

Move pre-processing step to metadata
  aste-turbine/metadata.yaml
  tools/tests/tests.yaml
Due: none

Add reference results for aste-turbine
  aste-turbine/reference-results/aste-turbine.tar.gz
  aste-turbine/reference-results/reference_results.metadata
Due: none

Add ASTE_REF in reference_versions.yaml
  tools/tests/reference_versions.yaml
Due: none

Set temporary PRECICE_REF
  tools/tests/reference_versions.yaml
Due: none

Revert PRECICE_REF
  tools/tests/reference_versions.yaml
Due: none

Disable comparisons
  tools/tests/tests.yaml
Due: none

Add ASTE to the system tests (#876)
  aste-turbine/metadata.yaml
  aste-turbine/reference-results/aste-turbine.tar.gz
  aste-turbine/reference-results/reference_results.metadata
  tools/tests/component-templates/aste.yaml
  tools/tests/components.yaml
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
  tools/tests/reference_versions.yaml
  tools/tests/tests.yaml
Due: none

Add two-scale-heat-conduction_macro-dumux_micro-dumux_parallel test case into micro-manager test suite
  tools/tests/tests.yaml
Due: none

Make all wget calls non-verbose
  aste-turbine/run.sh
  free-flow-over-porous-media/setup-dumux.sh
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
  two-scale-heat-conduction/setup-dumux.sh
Due: none

removed OpenFOAM header from solid-openfoam/0/T file
  flow-over-heated-plate-particles/solid-openfoam/0/T
Due: none

replace temperature_with_particles.gif with coarser .gif so it takes up less storage space
  flow-over-heated-plate-particles/images/temperature_with_particles.gif
Due: check-image-naming

removed temperature_with_particles.pvsm from flow-over-heated-plate-particles/images
  flow-over-heated-plate-particles/images/temperature_with_particles.pvsm
Due: check-image-naming

Add a step to restart the LFS server after cleaning up
  .github/workflows/system-tests-cleanup.yml
Due: none

Remove outdated headers and separators from OpenFOAM configuration files
  flow-over-heated-plate-nearest-projection/solid-openfoam/0/T
  flow-over-heated-plate-nearest-projection/solid-openfoam/constant/transportProperties
  flow-over-heated-plate-nearest-projection/solid-openfoam/system/blockMeshDict
  flow-over-heated-plate-nearest-projection/solid-openfoam/system/controlDict
  flow-over-heated-plate-nearest-projection/solid-openfoam/system/fvSchemes
  flow-over-heated-plate-nearest-projection/solid-openfoam/system/fvSolution
  flow-over-heated-plate-partitioned-flow/fluid2-openfoam/0/U
  flow-over-heated-plate-partitioned-flow/fluid2-openfoam/0/p
  flow-over-heated-plate-partitioned-flow/fluid2-openfoam/0/p_rgh
  flow-over-heated-plate-partitioned-flow/fluid2-openfoam/system/fvSolution
  flow-over-heated-plate/solid-openfoam/0/T
  flow-over-heated-plate/solid-openfoam/constant/transportProperties
  flow-over-heated-plate/solid-openfoam/system/blockMeshDict
  flow-over-heated-plate/solid-openfoam/system/controlDict
  flow-over-heated-plate/solid-openfoam/system/fvSchemes
  flow-over-heated-plate/solid-openfoam/system/fvSolution
  partitioned-pipe-multiscale/fluid3d-left-openfoam/system/probes
  partitioned-pipe-multiscale/fluid3d-right-openfoam/system/probes
  water-hammer/fluid3d-left-openfoam/0/U
  water-hammer/fluid3d-left-openfoam/0/p
  water-hammer/fluid3d-left-openfoam/constant/thermodynamicProperties
  water-hammer/fluid3d-left-openfoam/constant/transportProperties
  water-hammer/fluid3d-left-openfoam/constant/turbulenceProperties
  water-hammer/fluid3d-left-openfoam/system/fvSchemes
  water-hammer/fluid3d-left-openfoam/system/fvSolution
  water-hammer/fluid3d-left-openfoam/system/probes
  water-hammer/fluid3d-right-openfoam/0/U
  water-hammer/fluid3d-right-openfoam/0/p
  water-hammer/fluid3d-right-openfoam/constant/thermodynamicProperties
  water-hammer/fluid3d-right-openfoam/constant/transportProperties
  water-hammer/fluid3d-right-openfoam/constant/turbulenceProperties
  water-hammer/fluid3d-right-openfoam/system/fvSchemes
  water-hammer/fluid3d-right-openfoam/system/fvSolution
  water-hammer/fluid3d-right-openfoam/system/probes
Due: none

Fix image names
  flow-over-heated-plate-particles/README.md
  flow-over-heated-plate-particles/images/tutorials-flow-over-heated-plate-particles-precice-config.png
  flow-over-heated-plate-particles/images/tutorials-flow-over-heated-plate-particles-temperature-with-particles.gif
Due: check-image-naming, check-links-to-precice

Remove remaining OpenFOAM comment headers and separators
  flow-over-heated-plate-particles/solid-openfoam/0/T
  flow-over-heated-plate-particles/solid-openfoam/constant/transportProperties
  flow-over-heated-plate-particles/solid-openfoam/system/blockMeshDict
  flow-over-heated-plate-particles/solid-openfoam/system/controlDict
  flow-over-heated-plate-particles/solid-openfoam/system/fvSchemes
  flow-over-heated-plate-particles/solid-openfoam/system/fvSolution
Due: none
