Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

check-image-naming:
  name: check image names
  language: python
  entry: tools/check-image-names.py

check-links-to-precice:
  name: check links to precice.org
  language: script
  entry: tools/check-links-to-precice.sh

Add channel-transport-with-remeshing
  channel-transport-remeshing/README.md
  channel-transport-remeshing/clean-tutorial.sh
  channel-transport-remeshing/fluid-nutils/clean.sh
  channel-transport-remeshing/fluid-nutils/fluid.py
  channel-transport-remeshing/fluid-nutils/requirements.txt
  channel-transport-remeshing/fluid-nutils/run.sh
  channel-transport-remeshing/fluid-openfoam/0/U
  channel-transport-remeshing/fluid-openfoam/0/p
  channel-transport-remeshing/fluid-openfoam/clean.sh
  channel-transport-remeshing/fluid-openfoam/constant/transportProperties
  channel-transport-remeshing/fluid-openfoam/constant/turbulenceProperties
  channel-transport-remeshing/fluid-openfoam/run.sh
  channel-transport-remeshing/fluid-openfoam/system/blockMeshDict
  channel-transport-remeshing/fluid-openfoam/system/controlDict
  channel-transport-remeshing/fluid-openfoam/system/decomposeParDict
  channel-transport-remeshing/fluid-openfoam/system/fvSchemes
  channel-transport-remeshing/fluid-openfoam/system/fvSolution
  channel-transport-remeshing/fluid-openfoam/system/preciceDict
  channel-transport-remeshing/images/tutorials-channel-transport-animation.webm
  channel-transport-remeshing/images/tutorials-channel-transport-physics.png
  channel-transport-remeshing/images/tutorials-channel-transport-precice-config.png
  channel-transport-remeshing/precice-config.xml
  channel-transport-remeshing/transport-nutils-with-remeshing/clean.sh
  channel-transport-remeshing/transport-nutils-with-remeshing/run.sh
  channel-transport-remeshing/transport-nutils-with-remeshing/transport.py
  channel-transport-remeshing/transport-nutils/clean.sh
  channel-transport-remeshing/transport-nutils/requirements.txt
  channel-transport-remeshing/transport-nutils/run.sh
  channel-transport-remeshing/transport-nutils/transport.py
Due: check-image-naming, check-links-to-precice

Update requiremnts
  channel-transport-remeshing/transport-nutils-with-remeshing/requirements.txt
  channel-transport-remeshing/transport-nutils/requirements.txt
Due: none

Fix config
  channel-transport-remeshing/precice-config.xml
Due: none

Extend remeshing run script
  channel-transport-remeshing/transport-nutils-with-remeshing/run.sh
Due: none

Add series files
  channel-transport-remeshing/transport-nutils-with-remeshing/transport.py
  channel-transport-remeshing/transport-nutils/transport.py
Due: none

Mirgate readme
  channel-transport-remeshing/README.md
Due: check-links-to-precice

Fix image naming
  channel-transport-remeshing/images/tutorials-channel-transport-remeshing-animation.webm
  channel-transport-remeshing/images/tutorials-channel-transport-remeshing-physics.png
  channel-transport-remeshing/images/tutorials-channel-transport-remeshing-precice-config.png
Due: check-image-naming

Fix formatting
  channel-transport-remeshing/transport-nutils-with-remeshing/transport.py
Due: none

Update changelog-entries/597.md
  changelog-entries/597.md
Due: check-links-to-precice

Add timeSteppers.py
  oscillator-overlap/solver-python/timeSteppers.py
Due: none

Merge cases
  channel-transport-remeshing/README.md
  channel-transport-remeshing/clean-tutorial.sh
  channel-transport-remeshing/fluid-nutils/clean.sh
  channel-transport-remeshing/fluid-nutils/fluid.py
  channel-transport-remeshing/fluid-nutils/requirements.txt
  channel-transport-remeshing/fluid-nutils/run.sh
  channel-transport-remeshing/fluid-openfoam/0/U
  channel-transport-remeshing/fluid-openfoam/0/p
  channel-transport-remeshing/fluid-openfoam/clean.sh
  channel-transport-remeshing/fluid-openfoam/constant/transportProperties
  channel-transport-remeshing/fluid-openfoam/constant/turbulenceProperties
  channel-transport-remeshing/fluid-openfoam/run.sh
  channel-transport-remeshing/fluid-openfoam/system/blockMeshDict
  channel-transport-remeshing/fluid-openfoam/system/controlDict
  channel-transport-remeshing/fluid-openfoam/system/decomposeParDict
  channel-transport-remeshing/fluid-openfoam/system/fvSchemes
  channel-transport-remeshing/fluid-openfoam/system/fvSolution
  channel-transport-remeshing/fluid-openfoam/system/preciceDict
  channel-transport-remeshing/images/tutorials-channel-transport-remeshing-animation.webm
  channel-transport-remeshing/images/tutorials-channel-transport-remeshing-physics.png
  channel-transport-remeshing/images/tutorials-channel-transport-remeshing-precice-config.png
  channel-transport-remeshing/precice-config.xml
  channel-transport-remeshing/transport-nutils-with-remeshing/requirements.txt
  channel-transport-remeshing/transport-nutils/clean.sh
  channel-transport-remeshing/transport-nutils/requirements.txt
  channel-transport-remeshing/transport-nutils/run.sh
  channel-transport-remeshing/transport-nutils/transport.py
  channel-transport/README.md
  channel-transport/fluid-nutils/requirements.txt
  channel-transport/precice-config.xml
  channel-transport/transport-nutils-with-remeshing/clean.sh
  channel-transport/transport-nutils-with-remeshing/requirements.txt
  channel-transport/transport-nutils-with-remeshing/run.sh
  channel-transport/transport-nutils-with-remeshing/transport.py
  channel-transport/transport-nutils/requirements.txt
  channel-transport/transport-nutils/transport.py
Due: check-image-naming, check-links-to-precice

Add image
  channel-transport/README.md
  channel-transport/images/tutorials-channel-transport-amr.jpeg
Due: check-image-naming, check-links-to-precice

New image
  channel-transport/README.md
  channel-transport/images/tutorials-channel-transport-amr.jpeg
  channel-transport/images/tutorials-channel-transport-amr.png
Due: check-image-naming, check-links-to-precice

Ignore series files
  .gitignore
Due: none

Cleanup oscillator-overlap.
  oscillator-overlap/solver-python/oscillator.py
  oscillator/solver-python/oscillator.py
Due: none

Fix types.
  oscillator-overlap/solver-python/problemDefinition.py
  oscillator/solver-python/problemDefinition.py
Due: none

Add mypy.ini.
  oscillator-overlap/solver-python/mypy.ini
Due: none

Remove unnecessary.
  oscillator-overlap/solver-python/oscillator.py
Due: none

Merge remeshing and normal transport solvers
  channel-transport/transport-nutils/requirements.txt
  channel-transport/transport-nutils/run.sh
  channel-transport/transport-nutils/transport.py
Due: none

Remove remeshing solver
  channel-transport/transport-nutils-with-remeshing/clean.sh
  channel-transport/transport-nutils-with-remeshing/requirements.txt
  channel-transport/transport-nutils-with-remeshing/run.sh
  channel-transport/transport-nutils-with-remeshing/transport.py
Due: none

Reword the tutorial readme
  channel-transport/README.md
Due: check-links-to-precice

Regenerate config
  channel-transport/images/tutorials-channel-transport-precice-config.png
Due: check-image-naming

Cleanup nutils invocation
  channel-transport/transport-nutils/transport.py
Due: none

Add min preCICE version
  channel-transport/README.md
Due: check-links-to-precice

Mention why we need the bindings develop
  channel-transport/transport-nutils/requirements.txt
Due: none

Add setuptools to Nutils-related requirements.txt
  channel-transport/fluid-nutils/requirements.txt
  channel-transport/transport-nutils/requirements.txt
  flow-over-heated-plate/solid-nutils/requirements.txt
  partitioned-heat-conduction-direct/dirichlet-nutils/requirements.txt
  partitioned-heat-conduction-direct/neumann-nutils/requirements.txt
  partitioned-heat-conduction/dirichlet-nutils/requirements.txt
  partitioned-heat-conduction/neumann-nutils/requirements.txt
  perpendicular-flap/fluid-nutils/requirements.txt
  perpendicular-flap/solid-nutils/requirements.txt
  two-scale-heat-conduction/macro-nutils/requirements.txt
  two-scale-heat-conduction/micro-nutils/requirements.txt
Due: none

Add changelog
  changelog-entries/599.md
Due: check-links-to-precice

Update channel-transport/README.md
  channel-transport/README.md
Due: check-links-to-precice

Add note on solver speed
  channel-transport/README.md
Due: check-links-to-precice

Python tutorials: Log list of installed packages
  channel-transport-reaction/chemical-fenics/run.sh
  channel-transport-reaction/fluid-fenics/run.sh
  channel-transport/fluid-nutils/run.sh
  channel-transport/transport-nutils/run.sh
  elastic-tube-1d/fluid-python/run.sh
  elastic-tube-1d/solid-python/run.sh
  elastic-tube-3d/solid-fenics/run.sh
  flow-around-controlled-moving-cylinder/controller-fmi/run.sh
  flow-around-controlled-moving-cylinder/solid-python/run.sh
  flow-over-heated-plate/fluid-su2/run.sh
  flow-over-heated-plate/solid-dunefem/run.sh
  flow-over-heated-plate/solid-fenics/run.sh
  flow-over-heated-plate/solid-nutils/run.sh
  oscillator/mass-left-fmi/run.sh
  oscillator/mass-right-fmi/run.sh
  partitioned-heat-conduction-direct/dirichlet-nutils/run.sh
  partitioned-heat-conduction-direct/neumann-nutils/run.sh
  partitioned-heat-conduction/dirichlet-nutils/run.sh
  partitioned-heat-conduction/neumann-nutils/run.sh
  perpendicular-flap/fluid-fake/run.sh
  perpendicular-flap/fluid-nutils/run.sh
  perpendicular-flap/fluid-su2/run.sh
  perpendicular-flap/solid-fake/run.sh
  perpendicular-flap/solid-fenics/run.sh
  perpendicular-flap/solid-nutils/run.sh
  resonant-circuit/capacitor-python/run.sh
  resonant-circuit/coil-python/run.sh
  two-scale-heat-conduction/macro-nutils/run.sh
  two-scale-heat-conduction/micro-nutils/run.sh
Due: none

Add changelog entry
  changelog-entries/608.md
Due: check-links-to-precice

Remove the dictionary values scalar and vector for data name keys in Micro Manager config files
  two-scale-heat-conduction/micro-dumux/micro-manager-config.json
  two-scale-heat-conduction/micro-nutils/micro-manager-config.json
Due: none

Add changelog entry
  changelog-entries/609.md
Due: check-links-to-precice

Use past tense in changelog entry
  changelog-entries/609.md
Due: check-links-to-precice

Use 50 chars for outputFilePrefix
  elastic-tube-1d/fluid-fortran/src/FluidSolver.f90
Due: none

Add descriptive comment for info, fix variable capitalizations
  elastic-tube-1d/fluid-fortran/src/FluidComputeSolution.f90
Due: none

Remove debug prints
  elastic-tube-1d/fluid-fortran/src/FluidComputeSolution.f90
  elastic-tube-1d/fluid-fortran/src/FluidSolver.f90
  elastic-tube-1d/solid-fortran/src/SolidSolver.f90
Due: none

Remove Fortran standard
  elastic-tube-1d/fluid-fortran/CMakeLists.txt
  elastic-tube-1d/solid-fortran/CMakeLists.txt
Due: none

Improve print statement formatting
  elastic-tube-1d/fluid-fortran/src/utilities.f90
Due: none

Implement vtk writing, Add missing write_data call in fluid solver
  elastic-tube-1d/fluid-fortran/src/FluidComputeSolution.f90
  elastic-tube-1d/fluid-fortran/src/FluidSolver.f90
  elastic-tube-1d/fluid-fortran/src/utilities.f90
  elastic-tube-1d/solid-fortran/src/SolidSolver.f90
Due: none

Path conditions:
  check-image-naming: any of: .*/images/.*
  check-links-to-precice: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
