Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Update resonant-circuit/README.md
  resonant-circuit/README.md
Due: check-links-to-precice

[two-scale-heat-conduction] run micro-dumux in parallel
  two-scale-heat-conduction/micro-dumux/appl/CMakeLists.txt
  two-scale-heat-conduction/micro-dumux/micro-manager-config.json
Due: none

[two-scale-heat-conduction] run macro-dumux in parallel
  two-scale-heat-conduction/macro-dumux/run.sh
Due: none

[two-scale-heat-conduction] dumux can be run in parallel
  two-scale-heat-conduction/README.md
Due: check-links-to-precice

[two-scale-heat-conduction] remove unnecessary <numbers> include
  two-scale-heat-conduction/micro-dumux/appl/micro_sim.cpp
Due: none

Two scale heat conduction: Enable running DuMux participants in parallel (#528)
  two-scale-heat-conduction/README.md
  two-scale-heat-conduction/macro-dumux/run.sh
  two-scale-heat-conduction/micro-dumux/appl/CMakeLists.txt
  two-scale-heat-conduction/micro-dumux/appl/micro_sim.cpp
  two-scale-heat-conduction/micro-dumux/micro-manager-config.json
Due: check-links-to-precice

Add example plot and applied suggested changes in README file
  resonant-circuit/README.md
  resonant-circuit/images/tutorials-resonant-circuit-curves.png
Due: check-image-naming, check-links-to-precice

Add changelog.
  changelog-entries/480.md
Due: check-links-to-precice

Rewrite solver sections adding rust
  elastic-tube-1d/README.md
Due: check-links-to-precice

Update README.md
  elastic-tube-1d/README.md
Due: check-links-to-precice

Elastic tube 1D: Update solver sections, removing the now automatic build steps, and adding rust (#531)
  elastic-tube-1d/README.md
Due: check-links-to-precice

Directly use micro_manager in two-scale- tutorial
  two-scale-heat-conduction/micro-dumux/run.sh
  two-scale-heat-conduction/micro-dumux/run_micro_manager.py
  two-scale-heat-conduction/micro-nutils/run.sh
  two-scale-heat-conduction/micro-nutils/run_micro_manager.py
Due: none

Fix links to su2 adapter
  flow-over-heated-plate-two-meshes/README.md
  flow-over-heated-plate/README.md
Due: check-links-to-precice

Remove www prefix from precice.org
  channel-transport-reaction/README.md
  channel-transport/README.md
  elastic-tube-1d/README.md
  elastic-tube-3d/README.md
  flow-around-controlled-moving-cylinder/README.md
  flow-over-heated-plate-nearest-projection/README.md
  flow-over-heated-plate-partitioned-flow/README.md
  flow-over-heated-plate-steady-state/README.md
  flow-over-heated-plate-two-meshes/README.md
  flow-over-heated-plate/README.md
  heat-exchanger-simplified/README.md
  heat-exchanger/README.md
  multiple-perpendicular-flaps/README.md
  oscillator-overlap/README.md
  oscillator/README.md
  partitioned-backwards-facing-step/README.md
  partitioned-elastic-beam/README.md
  partitioned-heat-conduction-complex/README.md
  partitioned-heat-conduction-direct/README.md
  partitioned-heat-conduction-overlap/README.md
  partitioned-heat-conduction/README.md
  partitioned-pipe-two-phase/README.md
  partitioned-pipe/README.md
  perpendicular-flap/README.md
  turek-hron-fsi3/README.md
  two-scale-heat-conduction/README.md
  volume-coupled-flow/README.md
Due: check-links-to-precice

Use Micro Manager executable micro-manager-precice to run the micro simulations
  two-scale-heat-conduction/micro-dumux/run.sh
  two-scale-heat-conduction/micro-nutils/run.sh
Due: none

Change adaptivity setting to the new format in the Micro Manager config of the two-scale tutorial
  two-scale-heat-conduction/micro-dumux/micro-manager-config.json
  two-scale-heat-conduction/micro-nutils/micro-manager-config.json
Due: none

make coupling stronger in perpendicular flap
  perpendicular-flap/solid-dealii/parameters.prm
Due: none

Add new tutorial: resonant circuit tutorial (#480)
  .pre-commit-config.yaml
  changelog-entries/480.md
  resonant-circuit/README.md
  resonant-circuit/capacitor-matlab/capacitor.m
  resonant-circuit/capacitor-matlab/clean.sh
  resonant-circuit/capacitor-matlab/run.sh
  resonant-circuit/clean-tutorial.sh
  resonant-circuit/coil-matlab/clean.sh
  resonant-circuit/coil-matlab/coil.m
  resonant-circuit/coil-matlab/run.sh
  resonant-circuit/images/tutorials-resonant-circuit-curves.png
  resonant-circuit/images/tutorials-resonant-circuit-diagram.svg
  resonant-circuit/images/tutorials-resonant-circuit-precice-config.png
  resonant-circuit/precice-config.xml
  tools/cleaning-tools.sh
Due: check-image-naming, check-links-to-precice

Fix labels, use time interpolation, measure convergence.
  resonant-circuit/capacitor-python/capacitor.py
  resonant-circuit/capacitor-python/run.sh
  resonant-circuit/coil-python/coil.py
  resonant-circuit/coil-python/run.sh
  resonant-circuit/precice-config.xml
Due: none

Update README.md
  resonant-circuit/README.md
Due: check-links-to-precice

Use time-dependent load and provide initial data, if needed.
  perpendicular-flap/fluid-fake/fake.py
Due: none

Initialize data for perpendicular flap.
  perpendicular-flap/convergence-studies/.gitkeep
  perpendicular-flap/precice-config.xml
  perpendicular-flap/solid-fenics/solid.py
Due: none

Added solid-fake for perpendicular flap tutorial
  perpendicular-flap/solid-fake/fake.py
Due: none

Formatting
  perpendicular-flap/solid-fake/fake.py
Due: none

Delete perpendicular-flap/convergence-studies/.gitkeep
  perpendicular-flap/convergence-studies/.gitkeep
Due: none

Fix documentation.
  oscillator/solver-python/oscillator.py
  oscillator/solver-python/timeSteppers.py
Due: none

Also support time stepping without adapterivity and dense output (e.g. generalized alpha).
  oscillator/solver-python/oscillator.py
Due: none

Add changelog entry.
  changelog-entries/500.md
Due: check-links-to-precice

Simplify fake model
  perpendicular-flap/solid-fake/fake.py
Due: none

Format
  perpendicular-flap/solid-fake/fake.py
Due: none

Ignore profiling files
  .gitignore
Due: none

It kind of runs
  channel-transport/transport-openfoam/0/T
  channel-transport/transport-openfoam/0/U
  channel-transport/transport-openfoam/clean.sh
  channel-transport/transport-openfoam/constant/transportProperties
  channel-transport/transport-openfoam/run.sh
  channel-transport/transport-openfoam/system/blockMeshDict
  channel-transport/transport-openfoam/system/controlDict
  channel-transport/transport-openfoam/system/decomposeParDict
  channel-transport/transport-openfoam/system/fvSchemes
  channel-transport/transport-openfoam/system/fvSolution
  channel-transport/transport-openfoam/system/preciceDict
Due: none

remove blob
  channel-transport/transport-openfoam/0/T
Due: none

Maybe right?
  channel-transport/transport-openfoam/0/U
Due: none

setup setFields
  channel-transport/transport-openfoam/0.orig/T
  channel-transport/transport-openfoam/0.orig/U
  channel-transport/transport-openfoam/run.sh
  channel-transport/transport-openfoam/system/setFieldsDict
Due: none
