Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

check-image-naming:
  name: check image names
  language: python
  entry: tools/check-image-names.py

check-links-to-precice:
  name: check links to precice.org
  language: script
  entry: tools/check-links-to-precice.sh

Fix running without coupling and VTK output in macro-dumux
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

update to new mm version
  two-scale-heat-conduction/micro-dumux-mada/mada_switcher.py
Due: none

Add changelog entry
  changelog-entries/683.md
Due: check-links-to-precice

Remove unnecessary spaces
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Fix running without coupling and VTK output in macro-dumux (#683)
  changelog-entries/683.md
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: check-links-to-precice

Add fenicsx version of partitioned heat conduction tutorial
  partitioned-heat-conduction/dirichlet-fenicsx/precice-adapter-config-D.json
  partitioned-heat-conduction/dirichlet-fenicsx/run.sh
  partitioned-heat-conduction/neumann-fenicsx/precice-adapter-config-N.json
  partitioned-heat-conduction/neumann-fenicsx/run.sh
  partitioned-heat-conduction/solver-fenics/heat.py
  partitioned-heat-conduction/solver-fenicsx/clean.sh
  partitioned-heat-conduction/solver-fenicsx/errorcomputation.py
  partitioned-heat-conduction/solver-fenicsx/heat.py
  partitioned-heat-conduction/solver-fenicsx/my_enums.py
  partitioned-heat-conduction/solver-fenicsx/problem_setup.py
  partitioned-heat-conduction/solver-fenicsx/run.sh
Due: none

revert unnecessary changes
  partitioned-heat-conduction/solver-fenics/heat.py
Due: none

remove unnecessary file
  partitioned-heat-conduction/solver-fenicsx/heat.py
  partitioned-heat-conduction/solver-fenicsx/requirements.txt
  partitioned-heat-conduction/solver-fenicsx/run.sh
Due: none

remove commented out code
  partitioned-heat-conduction/solver-fenicsx/errorcomputation.py
Due: none

Add changelog entry
  changelog-entries/687.md
Due: check-links-to-precice

Add flow over heated plate for fenicsx
  flow-over-heated-plate/solid-fenicsx/precice-adapter-config.json
  flow-over-heated-plate/solid-fenicsx/requirements.txt
  flow-over-heated-plate/solid-fenicsx/run.sh
  flow-over-heated-plate/solid-fenicsx/solid.py
Due: none

Add changelog entry
  changelog-entries/688.md
Due: check-links-to-precice

Change outlet to advective
  channel-transport/transport-openfoam/0.orig/T
Due: none

Add new blockMesh including generator
  channel-transport/transport-openfoam/createMesh.py
  channel-transport/transport-openfoam/system/blockMeshDict
Due: none

Coarsen the mesh
  channel-transport/transport-openfoam/createMesh.py
  channel-transport/transport-openfoam/system/blockMeshDict
Due: none

Remove the accumulation note
  channel-transport/README.md
Due: check-links-to-precice

Move dynamicScalarTransportFoam into separate dir
  channel-transport/solver-openfoam/Make/files
  channel-transport/solver-openfoam/Make/options
  channel-transport/solver-openfoam/clean.sh
  channel-transport/solver-openfoam/createFields.H
  channel-transport/solver-openfoam/dynamicScalarTransportFoam.C
  channel-transport/transport-openfoam/clean.sh
Due: none

Move the openfoam solver gitignore
  .gitignore
  channel-transport/transport-openfoam/.gitignore
Due: none

Add the solver installation
  channel-transport/README.md
Due: check-links-to-precice

Replace header
  channel-transport/solver-openfoam/dynamicScalarTransportFoam.C
Due: none

Add explanation for the expression
  channel-transport/transport-openfoam/system/setExprFieldsDict
Due: none

Remove DG solver
  partitioned-burgers-1d/.solver-nutils-dgalerkin/compare_burgers.py
  partitioned-burgers-1d/.solver-nutils-dgalerkin/comparison_DG_FV.png
  partitioned-burgers-1d/.solver-nutils-dgalerkin/solver.py
Due: none

Create utils directory and move scripts. Create output directory, separate from images directory.
  partitioned-burgers-1d/utils/generate-training-data.sh
  partitioned-burgers-1d/utils/generate_ic.py
  partitioned-burgers-1d/utils/ic_params.json
  partitioned-burgers-1d/utils/run-partitioned-scipy.sh
  partitioned-burgers-1d/utils/run-partitioned-surrogate.sh
  partitioned-burgers-1d/utils/visualize_partitioned_domain.py
Due: none

Update run scripts to conform to other preCICE tutorials. Fix package versions in requirements. Remove commented out code from solvers.
  partitioned-burgers-1d/dirichlet-scipy/run.sh
  partitioned-burgers-1d/neumann-scipy/run.sh
  partitioned-burgers-1d/neumann-surrogate/requirements.txt
  partitioned-burgers-1d/neumann-surrogate/run.sh
  partitioned-burgers-1d/neumann-surrogate/solver.py
  partitioned-burgers-1d/solver-scipy/requirements.txt
  partitioned-burgers-1d/solver-scipy/run.sh
  partitioned-burgers-1d/solver-scipy/solver.py
Due: none

clean.sh to clean-tutorial.sh
  partitioned-burgers-1d/clean-tutorial.sh
  partitioned-burgers-1d/clean.sh
Due: none

remove comment from precice-config.xml
  partitioned-burgers-1d/precice-config.xml
Due: none

rename participant
  free-flow-over-porous-media/compile-dumux-cases.sh
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/main.cc
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/main.cc
  free-flow-over-porous-media/precice-config.xml
Due: none

Update README and add domain diagram image
  partitioned-burgers-1d/README.md
  partitioned-burgers-1d/images/tutorials-partitioned-burgers-1d-full-domain-diagram.png
Due: check-image-naming, check-links-to-precice

Specify IC script in readme
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Changelog entry
  changelog-entries/670.md
Due: check-links-to-precice

rename folder for compiling case
  free-flow-over-porous-media/compile-dumux-cases.sh
Due: none

Add tutorial of free flow over porous media (#678)
  changelog-entries/678.md
  free-flow-over-porous-media/README.md
  free-flow-over-porous-media/clean-tutorial.sh
  free-flow-over-porous-media/compile-dumux-cases.sh
  free-flow-over-porous-media/free-flow-dumux/CMakeLists.txt
  free-flow-over-porous-media/free-flow-dumux/clean.sh
  free-flow-over-porous-media/free-flow-dumux/config.h.cmake
  free-flow-over-porous-media/free-flow-dumux/dune.module
  free-flow-over-porous-media/free-flow-dumux/free-flow-dumux.pc.in
  free-flow-over-porous-media/free-flow-dumux/params.input
  free-flow-over-porous-media/free-flow-dumux/run.sh
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/CMakeLists.txt
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/main.cc
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/problem.hh
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/properties.hh
  free-flow-over-porous-media/images/tutorials-free-flow-over-porous-media-precice-config-visualization.png
  free-flow-over-porous-media/images/tutorials-free-flow-over-porous-media-result-pressure.png
  free-flow-over-porous-media/images/tutorials-free-flow-over-porous-media-result-ux.png
  free-flow-over-porous-media/images/tutorials-free-flow-over-porous-media-setup.png
  free-flow-over-porous-media/porous-media-dumux/CMakeLists.txt
  free-flow-over-porous-media/porous-media-dumux/clean.sh
  free-flow-over-porous-media/porous-media-dumux/config.h.cmake
  free-flow-over-porous-media/porous-media-dumux/dune.module
  free-flow-over-porous-media/porous-media-dumux/params.input
  free-flow-over-porous-media/porous-media-dumux/porous-media-dumux.pc.in
  free-flow-over-porous-media/porous-media-dumux/run.sh
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/CMakeLists.txt
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/main.cc
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/problem.hh
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/properties.hh
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/spatialparams.hh
  free-flow-over-porous-media/precice-config.xml
  free-flow-over-porous-media/setup-dumux.sh
Due: check-image-naming, check-links-to-precice

Add changelog entry
  changelog-entries/684.md
Due: check-links-to-precice

autopep8 formatting
  two-scale-heat-conduction/micro-dumux-mada/mada_switcher.py
  two-scale-heat-conduction/micro-dumux-mada/micro_sim_sur.py
  two-scale-heat-conduction/micro-dumux-surrogate/micro_sim_sur.py
  two-scale-heat-conduction/micro-dumux-surrogate/surrogate_workflow.py
Due: none

Quickstart: Bump preCICE to v3.3.0
  changelog-entries/691.md
  quickstart/README.md
Due: check-links-to-precice

Quickstart: Bump preCICE to v3.3.0 (#691)
  changelog-entries/691.md
  quickstart/README.md
Due: check-links-to-precice

Bump versions in Quickstart and system tests
  .github/workflows/system-tests-latest-components.yml
  .github/workflows/system-tests-pr.yml
  partitioned-heat-conduction/solver-openfoam/.clang-format
  quickstart/README.md
  tools/tests/README.md
  tools/tests/components.yaml
  tools/tests/reference_versions.yaml
Due: check-links-to-precice

Update reference versions
  tools/tests/reference_versions.yaml
Due: none

Fix a dead URL in perpendicular-flap README.md
  perpendicular-flap/README.md
Due: check-links-to-precice

Update URL in heat-exchanger
  heat-exchanger/README.md
Due: check-links-to-precice

Path conditions:
  check-image-naming: any of: .*/images/.*
  check-links-to-precice: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
