Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

check-image-naming:
  name: check image names
  language: python
  entry: tools/check-image-names.py

check-links-to-precice:
  name: check links to precice.org
  language: script
  entry: tools/check-links-to-precice.sh

Restore the TUTORIALS_REF
  tools/tests/reference_versions.yaml
Due: none

Rewrite the system tests documentation
  tools/tests/README.md
Due: check-links-to-precice

Remove obsolete default arguments from system-tests-pr.yml
  .github/workflows/system-tests-pr.yml
Due: none

Rewrite the system tests documentation (#846)
  .github/workflows/system-tests-pr.yml
  tools/tests/README.md
  tools/tests/build_docker_images.py
  tools/tests/reference_versions.yaml
  tools/tests/systemtests.py
Due: check-links-to-precice

Enable markdown support in the details HTML tag
  tools/tests/README.md
Due: check-links-to-precice

Add additional info on the NN checkpoints
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Comment about the visualization timestep argument
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Add reference to thesis
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Fix typo in argument
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Optionally point to my development repo?
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Fix trailing space
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Add per-test fieldcompare tolerance and skip_compare (#837)
  changelog-entries/837.md
  tools/tests/README.md
  tools/tests/docker-compose.field_compare.template.yaml
  tools/tests/generate_reference_results.py
  tools/tests/systemtests.py
  tools/tests/systemtests/Systemtest.py
  tools/tests/systemtests/TestSuite.py
  tools/tests/tests.yaml
Due: check-links-to-precice

Update changelog entry for issue #837
  changelog-entries/837.md
  changelog-entries/847.md
Due: check-links-to-precice

Fix autopep8 line length in system test runners
  tools/tests/generate_reference_results.py
  tools/tests/systemtests.py
Due: none

systemtests: fix FEniCS mpi4py conflict by uninstalling venv's mpi4py, restoring NO_VENV escape hatch and sanity check
  tools/tests/component-templates/fenics-adapter.yaml
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Update and rename 840.md to 848.md
  changelog-entries/840.md
  changelog-entries/848.md
Due: check-links-to-precice

Update and rename 827.md to 849.md
  changelog-entries/827.md
  changelog-entries/849.md
Due: check-links-to-precice

Fix order of includes in dynamicScalarTransportFoam.C
  channel-transport/solver-openfoam/dynamicScalarTransportFoam.C
Due: none

Merge central gitignore changes
  .gitignore
Due: none

Build the solver automatically
  channel-transport/README.md
  channel-transport/transport-openfoam/run.sh
Due: check-links-to-precice

Move createMesh.py to a utils/ folder, add requirements.txt
  channel-transport/transport-openfoam/utils/createMesh.py
  channel-transport/transport-openfoam/utils/requirements.txt
Due: none

Move .clang-format file
  channel-transport/solver-openfoam/.clang-format
Due: none

Reformat solver source file
  channel-transport/solver-openfoam/dynamicScalarTransportFoam.C
Due: none

Add the new case to the metadata.yaml
  channel-transport/metadata.yaml
Due: none

Add the new case to the system tests
  tools/tests/tests.yaml
Due: none

Remove leftover headers
  channel-transport/transport-openfoam/system/fvSchemes
  channel-transport/transport-openfoam/system/fvSolution
Due: none

Remove confusing mention of monolithic from the post-processing
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

New tutorial: Partitioned Burgers eq. 1D (#670)
  .gitignore
  changelog-entries/670.md
  partitioned-burgers-1d/README.md
  partitioned-burgers-1d/clean-tutorial.sh
  partitioned-burgers-1d/dirichlet-scipy/clean.sh
  partitioned-burgers-1d/dirichlet-scipy/run.sh
  partitioned-burgers-1d/images/tutorials-partitioned-burgers-1d-full-domain-diagram.png
  partitioned-burgers-1d/images/tutorials-partitioned-burgers-1d-full-domain-evolution.png
  partitioned-burgers-1d/images/tutorials-partitioned-burgers-1d-full-domain-timestep-slice.png
  partitioned-burgers-1d/images/tutorials-partitioned-burgers-1d-precice-config.png
  partitioned-burgers-1d/metadata.yaml
  partitioned-burgers-1d/neumann-scipy/clean.sh
  partitioned-burgers-1d/neumann-scipy/run.sh
  partitioned-burgers-1d/neumann-surrogate/CNN_RES_UNROLL_1.pth
  partitioned-burgers-1d/neumann-surrogate/CNN_RES_UNROLL_7.pth
  partitioned-burgers-1d/neumann-surrogate/clean.sh
  partitioned-burgers-1d/neumann-surrogate/config.py
  partitioned-burgers-1d/neumann-surrogate/model.py
  partitioned-burgers-1d/neumann-surrogate/requirements.txt
  partitioned-burgers-1d/neumann-surrogate/run.sh
  partitioned-burgers-1d/neumann-surrogate/solver.py
  partitioned-burgers-1d/precice-config.xml
  partitioned-burgers-1d/reference-results/dirichlet-scipy_neumann-scipy.tar.gz
  partitioned-burgers-1d/reference-results/dirichlet-scipy_neumann-surrogate.tar.gz
  partitioned-burgers-1d/reference-results/reference_results.metadata
  partitioned-burgers-1d/solver-scipy/clean.sh
  partitioned-burgers-1d/solver-scipy/requirements.txt
  partitioned-burgers-1d/solver-scipy/run.sh
  partitioned-burgers-1d/solver-scipy/solver.py
  partitioned-burgers-1d/utils/generate-training-data.sh
  partitioned-burgers-1d/utils/generate_ic.py
  partitioned-burgers-1d/utils/ic_params.json
  partitioned-burgers-1d/utils/requirements.txt
  partitioned-burgers-1d/utils/visualize_partitioned_domain.py
  tools/cleaning-tools.sh
  tools/tests/tests.yaml
Due: check-image-naming, check-links-to-precice

Simplify iterations-logs documentation per review
  tools/tests/README.md
Due: check-links-to-precice

Revert manually added reference results
  elastic-tube-1d/reference-results/fluid-cpp_solid-cpp.tar.gz
  elastic-tube-1d/reference-results/reference_results.metadata
Due: none

Change the divSchemes
  channel-transport/transport-openfoam/system/fvSchemes
Due: none

Set T outlet to the simpler zeroGradient
  channel-transport/transport-openfoam/0.orig/T
Due: none

Use the same mesh as fluid-openfoam, remove custom meshing scripts
  channel-transport/transport-openfoam/system/blockMeshDict
  channel-transport/transport-openfoam/utils/createMesh.py
  channel-transport/transport-openfoam/utils/requirements.txt
Due: none

Rename participant directories
  partitioned-heat-conduction-mixedbc/left-openfoam/0/T
  partitioned-heat-conduction-mixedbc/left-openfoam/clean.sh
  partitioned-heat-conduction-mixedbc/left-openfoam/constant/transportProperties
  partitioned-heat-conduction-mixedbc/left-openfoam/run.sh
  partitioned-heat-conduction-mixedbc/left-openfoam/system/blockMeshDict
  partitioned-heat-conduction-mixedbc/left-openfoam/system/controlDict
  partitioned-heat-conduction-mixedbc/left-openfoam/system/decomposeParDict
  partitioned-heat-conduction-mixedbc/left-openfoam/system/fvSchemes
  partitioned-heat-conduction-mixedbc/left-openfoam/system/fvSolution
  partitioned-heat-conduction-mixedbc/left-openfoam/system/preciceDict
  partitioned-heat-conduction-mixedbc/right-openfoam/0/T
  partitioned-heat-conduction-mixedbc/right-openfoam/clean.sh
  partitioned-heat-conduction-mixedbc/right-openfoam/constant/transportProperties
  partitioned-heat-conduction-mixedbc/right-openfoam/run.sh
  partitioned-heat-conduction-mixedbc/right-openfoam/system/blockMeshDict
  partitioned-heat-conduction-mixedbc/right-openfoam/system/controlDict
  partitioned-heat-conduction-mixedbc/right-openfoam/system/fvSchemes
  partitioned-heat-conduction-mixedbc/right-openfoam/system/fvSolution
  partitioned-heat-conduction-mixedbc/right-openfoam/system/preciceDict
  partitioned-heat-conduction-robin/left-openfoam/0/T
  partitioned-heat-conduction-robin/left-openfoam/clean.sh
  partitioned-heat-conduction-robin/left-openfoam/constant/transportProperties
  partitioned-heat-conduction-robin/left-openfoam/run.sh
  partitioned-heat-conduction-robin/left-openfoam/system/blockMeshDict
  partitioned-heat-conduction-robin/left-openfoam/system/controlDict
  partitioned-heat-conduction-robin/left-openfoam/system/decomposeParDict
  partitioned-heat-conduction-robin/left-openfoam/system/fvSchemes
  partitioned-heat-conduction-robin/left-openfoam/system/fvSolution
  partitioned-heat-conduction-robin/left-openfoam/system/preciceDict
  partitioned-heat-conduction-robin/right-openfoam/0/T
  partitioned-heat-conduction-robin/right-openfoam/clean.sh
  partitioned-heat-conduction-robin/right-openfoam/constant/transportProperties
  partitioned-heat-conduction-robin/right-openfoam/run.sh
  partitioned-heat-conduction-robin/right-openfoam/system/blockMeshDict
  partitioned-heat-conduction-robin/right-openfoam/system/controlDict
  partitioned-heat-conduction-robin/right-openfoam/system/fvSchemes
  partitioned-heat-conduction-robin/right-openfoam/system/fvSolution
  partitioned-heat-conduction-robin/right-openfoam/system/preciceDict
Due: none

Make the run.sh and clean.sh scripts consistent
  partitioned-heat-conduction-mixedbc/left-openfoam/clean.sh
  partitioned-heat-conduction-mixedbc/left-openfoam/run.sh
  partitioned-heat-conduction-mixedbc/right-openfoam/clean.sh
  partitioned-heat-conduction-mixedbc/right-openfoam/run.sh
  partitioned-heat-conduction-robin/left-openfoam/run.sh
  partitioned-heat-conduction-robin/right-openfoam/run.sh
Due: none

Add metadata files
  partitioned-heat-conduction-mixedbc/metadata.yaml
  partitioned-heat-conduction-robin/metadata.yaml
Due: none

Store reference iterations logs as separate tar member (Option A)
  tools/tests/README.md
  tools/tests/generate_reference_results.py
  tools/tests/systemtests/Systemtest.py
Due: check-links-to-precice

Add a concrete example in the tests.yaml
  tools/tests/tests.yaml
Due: none

Inline iterations-logs tar arcname per review
  tools/tests/generate_reference_results.py
  tools/tests/systemtests/Systemtest.py
Due: none

Path conditions:
  check-image-naming: any of: .*/images/.*
  check-links-to-precice: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
