Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Fix domain definition in documentation
  partitioned-heat-conduction/solver-fenics/heat.py
  partitioned-heat-conduction/solver-fenics/heatHigherOrder.py
  partitioned-heat-conduction/solver-fenics/heat_pySDC.py
Due: none

added missing variable
  quickstart/fluid-foam-extend/system/preciceDict
Due: none

add blockMeshDict in right folder
  quickstart/fluid-foam-extend/constant/polyMesh/blockMeshDict
Due: none

remove blockMeshDict from old location
  quickstart/fluid-foam-extend/system/blockMeshDict
Due: none

tidy scripts and remove plotting from there, fix run.sh
  resonant-circuit/capacitor-julia/capacitor.jl
  resonant-circuit/capacitor-julia/run.sh
  resonant-circuit/coil-julia/coil.jl
  resonant-circuit/coil-julia/run.sh
Due: none

Initial code to add micro-dumux surrogate for two-scale-heat-conduction
  two-scale-heat-conduction/micro-dumux-surrogate/offline-training/model.py
  two-scale-heat-conduction/micro-dumux-surrogate/offline-training/train_surrogate.py
Due: none

add package install in run and switch OrdinaryDiffEq for DifferentialEquations
  resonant-circuit/capacitor-julia/capacitor.jl
  resonant-circuit/capacitor-julia/run.sh
  resonant-circuit/coil-julia/coil.jl
  resonant-circuit/coil-julia/run.sh
Due: none

rm old Project files
  resonant-circuit/capacitor-julia/Project.toml
  resonant-circuit/coil-julia/Project.toml
Due: none

Add mechanism to create snapshots using the Micro Manager
  two-scale-heat-conduction/micro-dumux-surrogate/create-snapshots.sh
  two-scale-heat-conduction/micro-dumux-surrogate/micro-manager-snapshot-config.json
  two-scale-heat-conduction/micro-dumux-surrogate/model.py
  two-scale-heat-conduction/micro-dumux-surrogate/train_surrogate.py
Due: none

Changed files
  water-hammer/README.md
  water-hammer/case-1d-1d/fluid1dleft-python/Fluid1D.py
  water-hammer/case-1d-1d/fluid1dright-python/Fluid1D.py
  water-hammer/case-1d-3d/fluid1d-python/Fluid1D.py
  water-hammer/case-1d/fluid1d-python-uncoupled/Fluid1D.py
  water-hammer/case-3d-3d/precice-config.xml
  water-hammer/results/II/Fluid1D.py
  water-hammer/results/III/Fluid1D.py
  water-hammer/results/IV/Fluid1D.py
  water-hammer/results/README.md
  water-hammer/results/VI/Fluid1DLeft.py
  water-hammer/results/VI/Fluid1DRight.py
  water-hammer/results/VII/converter.py
  water-hammer/results/VII/precice-config.xml
  water-hammer/results/plot/plotting_all.py
Due: check-links-to-precice

Add more functionality related to creation and training of the surrogate
  two-scale-heat-conduction/micro-dumux-surrogate/surrogate_workflow.py
  two-scale-heat-conduction/micro-dumux-surrogate/train_surrogate.py
Due: none

Added growing mesh case
  .gitignore
  growing-mesh/A/run.sh
  growing-mesh/B/run.sh
  growing-mesh/README.md
  growing-mesh/images/tutorials-growing-mesh-precice-config.png
  growing-mesh/precice-config.xml
  growing-mesh/solver-python/pyproject.toml
  growing-mesh/solver-python/solver.py
Due: check-image-naming, check-links-to-precice

Format with black
  growing-mesh/solver-python/solver.py
Due: none

Fix formatting
  growing-mesh/solver-python/solver.py
Due: none

fix path for preciceDict in quickstart for foam-extend
  quickstart/fluid-foam-extend/system/preciceDict
Due: none

add missing keyword
  quickstart/fluid-foam-extend/system/fvSolution
Due: none

added missing keywords for foam-extend-5.0
  quickstart/fluid-foam-extend/system/fvSolution
Due: none

Add first working version of the complete surrogate workflow
  two-scale-heat-conduction/micro-dumux-surrogate/micro-manager-snapshot-config.json
  two-scale-heat-conduction/micro-dumux-surrogate/params.input
  two-scale-heat-conduction/micro-dumux-surrogate/requirements.txt
  two-scale-heat-conduction/micro-dumux-surrogate/run-surrogate-workflow.sh
  two-scale-heat-conduction/micro-dumux-surrogate/surrogate_workflow.py
Due: none

add missing scheme
  quickstart/fluid-foam-extend/system/fvSchemes
Due: none

Pass validation data to the validation of the surrogate
  two-scale-heat-conduction/micro-dumux-surrogate/clean.sh
  two-scale-heat-conduction/micro-dumux-surrogate/surrogate_workflow.py
Due: none

add relaxationFactors for foam-extend-4.0
  quickstart/fluid-foam-extend/system/fvSolution
Due: none

also add Ufinal for foam-extend-4.0
  quickstart/fluid-foam-extend/system/fvSolution
Due: none

fix typo
  quickstart/fluid-foam-extend/system/fvSolution
Due: none

Add motivation and update docs
  growing-mesh/README.md
Due: check-links-to-precice

Fix autopep8-related syntax errors
  partitioned-heat-conduction-overlap/solver-fenics/heat.py
  tools/tests/systemtests/Systemtest.py
Due: none

System tests docs: Add link to publication
  tools/tests/README.md
Due: check-links-to-precice

Updating Micro Manager config files to sync with the latest release v0.7.0
  two-scale-heat-conduction/micro-dumux/micro-manager-config.json
  two-scale-heat-conduction/micro-nutils/micro-manager-config.json
Due: none

Add changelog entry
  changelog-entries/662.md
Due: check-links-to-precice

Update changelog-entries/662.md
  changelog-entries/662.md
Due: check-links-to-precice

Updating Micro Manager config files as per Micro Manager v0.7.0 (#662)
  changelog-entries/662.md
  two-scale-heat-conduction/micro-dumux/micro-manager-config.json
  two-scale-heat-conduction/micro-nutils/micro-manager-config.json
Due: check-links-to-precice

[two-scale-heat-conduction] Enable parallel macro dumux solver
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

fixup clang-format
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

[two-scale-heat-conduction] Store coupling data and exchange if parallel
  two-scale-heat-conduction/macro-dumux/appl/main.cc
  two-scale-heat-conduction/macro-dumux/appl/problem.hh
  two-scale-heat-conduction/macro-dumux/appl/spatialparams.hh
Due: none

[two-scale-heat-conduction] Don't pass overlap points to adapter
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Remove whitespace
  two-scale-heat-conduction/macro-dumux/appl/problem.hh
Due: none

Fix clang-format
  two-scale-heat-conduction/macro-dumux/appl/spatialparams.hh
Due: none

Add changelog entry
  changelog-entries/663.md
Due: check-links-to-precice

[two-scale-heat-conduction] Use Dune::Partitions to only couple interior points
  two-scale-heat-conduction/macro-dumux/appl/main.cc
  two-scale-heat-conduction/macro-dumux/appl/spatialparams.hh
Due: none

Improve documentation
  two-scale-heat-conduction/macro-dumux/appl/spatialparams.hh
Due: none
