Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Changed participant name Fluid1DLeft
  water-hammer/case-1d-3d/fluid1d-left/Fluid1D.py
Due: none

Changed ymin and ymax of 3D cases
  water-hammer/case-1d-3d/fluid3d-left/system/blockMeshDict
  water-hammer/case-1d-3d/fluid3d-right/system/blockMeshDict
  water-hammer/case-3d-3d/fluid3d-left/system/blockMeshDict
  water-hammer/case-3d-3d/fluid3d-right/system/blockMeshDict
  water-hammer/case-3d/fluid3d-uncoupled/system/blockMeshDict
Due: none

Switch to DuMuX adapter checkpointing functionality
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Remove manual checkpointing of time as the adapter handles this internally
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Checkpoint timestepping
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Add changelog entry
  changelog-entries/676.md
Due: check-links-to-precice

Move initialize() call before time settings
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Switch to adapter-based checkpointing in the two-scale heat conduction tutorial (#676)
  changelog-entries/676.md
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: check-links-to-precice

Updated structure on the Water Hammer tutorial
  water-hammer/README.md
  water-hammer/README.txt
  water-hammer/images/plotting_all.py
  water-hammer/images/pout_alltime.png
  water-hammer/images/pout_timewindow.png
  water-hammer/images/tutorials-waterhammer-1d3d-outlet-pressure.png
  water-hammer/images/tutorials-waterhammer-1d3d-precice-config.png
  water-hammer/images/tutorials-waterhammer-3d1d-precice-config.png
Due: check-image-naming, check-links-to-precice

Updated clean.sh and run.sh to work in the current tutorial structure
  water-hammer/clean-tutorial.sh
  water-hammer/fluid1d-left/clean.sh
  water-hammer/fluid1d-left/run.sh
  water-hammer/fluid1d-right/clean.sh
  water-hammer/fluid1d-right/run.sh
  water-hammer/fluid3d-left/clean.sh
  water-hammer/fluid3d-left/run.sh
  water-hammer/fluid3d-right/clean.sh
  water-hammer/fluid3d-right/run.sh
Due: none

add tutorial of free flow over porous media
  free-flow-over-porous-media/README.md
  free-flow-over-porous-media/clean-tutorial.sh
  free-flow-over-porous-media/compile-dumux-cases.sh
  free-flow-over-porous-media/free-flow-dumux/CMakeLists.txt
  free-flow-over-porous-media/free-flow-dumux/appl/CMakeLists.txt
  free-flow-over-porous-media/free-flow-dumux/appl/ffproblem-reversed.hh
  free-flow-over-porous-media/free-flow-dumux/appl/ffproperties.hh
  free-flow-over-porous-media/free-flow-dumux/appl/main.cc
  free-flow-over-porous-media/free-flow-dumux/clean.sh
  free-flow-over-porous-media/free-flow-dumux/config.h.cmake
  free-flow-over-porous-media/free-flow-dumux/dune.module
  free-flow-over-porous-media/free-flow-dumux/free-flow-dumux.pc.in
  free-flow-over-porous-media/free-flow-dumux/params.input
  free-flow-over-porous-media/free-flow-dumux/run.sh
  free-flow-over-porous-media/images/tutorials-free-flow-over-porous-media-precice-config-visualization.png
  free-flow-over-porous-media/porous-media-dumux/CMakeLists.txt
  free-flow-over-porous-media/porous-media-dumux/appl/CMakeLists.txt
  free-flow-over-porous-media/porous-media-dumux/appl/main.cc
  free-flow-over-porous-media/porous-media-dumux/appl/problem.hh
  free-flow-over-porous-media/porous-media-dumux/appl/properties.hh
  free-flow-over-porous-media/porous-media-dumux/appl/spatialparams.hh
  free-flow-over-porous-media/porous-media-dumux/clean.sh
  free-flow-over-porous-media/porous-media-dumux/config.h.cmake
  free-flow-over-porous-media/porous-media-dumux/dune.module
  free-flow-over-porous-media/porous-media-dumux/params.input
  free-flow-over-porous-media/porous-media-dumux/porous-media-dumux.pc.in
  free-flow-over-porous-media/porous-media-dumux/run.sh
  free-flow-over-porous-media/precice-config.xml
  free-flow-over-porous-media/setup-dumux.sh
Due: check-image-naming, check-links-to-precice

rename files
  free-flow-over-porous-media/README.md
  free-flow-over-porous-media/free-flow-dumux/appl/main.cc
  free-flow-over-porous-media/free-flow-dumux/appl/problem.hh
  free-flow-over-porous-media/free-flow-dumux/appl/properties.hh
Due: check-links-to-precice

update README
  free-flow-over-porous-media/README.md
Due: check-links-to-precice

remove intermediate output
  free-flow-over-porous-media/free-flow-dumux/appl/main.cc
  free-flow-over-porous-media/free-flow-dumux/params.input
Due: none

add setup figure
  free-flow-over-porous-media/README.md
Due: check-links-to-precice

update file path
  free-flow-over-porous-media/README.md
Due: check-links-to-precice

add switch for csv output
  free-flow-over-porous-media/free-flow-dumux/appl/main.cc
  free-flow-over-porous-media/free-flow-dumux/params.input
Due: none

Suggested changes
  water-hammer/README.md
  water-hammer/fluid3d-left/system/fvSchemes
  water-hammer/fluid3d-left/system/fvSolution
  water-hammer/fluid3d-right/system/fvSchemes
  water-hammer/fluid3d-right/system/fvSolution
  water-hammer/images/tutorials-water-hammer-1d3d-outlet-pressure.png
  water-hammer/images/tutorials-water-hammer-1d3d-precice-config.png
  water-hammer/images/tutorials-water-hammer-3d1d-precice-config.png
  water-hammer/precice-config.xml
  water-hammer/set-case.sh
Due: check-image-naming, check-links-to-precice

add results
  free-flow-over-porous-media/README.md
  free-flow-over-porous-media/free-flow-dumux/appl/main.cc
  free-flow-over-porous-media/free-flow-dumux/appl/problem.hh
  free-flow-over-porous-media/images/tutorials-free-flow-over-porous-media-result-pressure.png
  free-flow-over-porous-media/images/tutorials-free-flow-over-porous-media-result-ux.png
  free-flow-over-porous-media/images/tutorials-free-flow-over-porous-media-setup.png
  free-flow-over-porous-media/porous-media-dumux/appl/main.cc
  free-flow-over-porous-media/porous-media-dumux/appl/problem.hh
  free-flow-over-porous-media/precice-config.xml
Due: check-image-naming, check-links-to-precice

Suggested Changes and Updated solver-fluid1d/ directory
  water-hammer/fluid1d-left/run.sh
  water-hammer/fluid1d-right/Fluid1D.py
  water-hammer/fluid1d-right/run.sh
  water-hammer/fluid3d-left/system/controlDict
  water-hammer/fluid3d-right/system/controlDict
  water-hammer/solver-fluid1d/Fluid1D.py
Due: none

Few corrections and updated solver-fluid1d/ directory
  partitioned-pipe-multiscale/README.md
  partitioned-pipe-multiscale/fluid1d-left/Fluid1D.py
  partitioned-pipe-multiscale/fluid1d-left/run.sh
  partitioned-pipe-multiscale/fluid1d-right/Fluid1D.py
  partitioned-pipe-multiscale/fluid1d-right/run.sh
  partitioned-pipe-multiscale/precice-config.xml
  partitioned-pipe-multiscale/set-case.sh
  partitioned-pipe-multiscale/solver-fluid1d/Fluid1D.py
Due: check-links-to-precice

remove parallel execution
  free-flow-over-porous-media/README.md
  free-flow-over-porous-media/free-flow-dumux/appl/main.cc
  free-flow-over-porous-media/free-flow-dumux/run.sh
  free-flow-over-porous-media/porous-media-dumux/appl/main.cc
  free-flow-over-porous-media/porous-media-dumux/run.sh
  free-flow-over-porous-media/precice-config.xml
Due: check-links-to-precice

Improve README and CMAKE file
  free-flow-over-porous-media/README.md
  free-flow-over-porous-media/free-flow-dumux/appl/CMakeLists.txt
  free-flow-over-porous-media/free-flow-dumux/run.sh
  free-flow-over-porous-media/porous-media-dumux/dune.module
  free-flow-over-porous-media/porous-media-dumux/run.sh
  free-flow-over-porous-media/precice-config.xml
Due: check-links-to-precice

Update visualisation
  free-flow-over-porous-media/images/tutorials-free-flow-over-porous-media-precice-config-visualization.png
  free-flow-over-porous-media/precice-config.xml
Due: check-image-naming

Add changelog entry
  changelog-entries/678.md
Due: check-links-to-precice

bugfixes and add runnable surrogate model
  two-scale-heat-conduction/micro-dumux-surrogate/micro-manager-snapshot-config.json
  two-scale-heat-conduction/micro-dumux-surrogate/micro-manager-surrogate-config.json
  two-scale-heat-conduction/micro-dumux-surrogate/micro_sim.pc.in
  two-scale-heat-conduction/micro-dumux-surrogate/micro_sim_sur.py
  two-scale-heat-conduction/micro-dumux-surrogate/run.sh
  two-scale-heat-conduction/micro-dumux-surrogate/surrogate_workflow.py
Due: none

add config for model adaptivity
  two-scale-heat-conduction/micro-dumux-mada/mada_switcher.py
  two-scale-heat-conduction/micro-dumux-mada/micro-manager-mada-config.json
  two-scale-heat-conduction/micro-dumux-mada/micro_sim.pc.in
  two-scale-heat-conduction/micro-dumux-mada/micro_sim_sur.py
  two-scale-heat-conduction/micro-dumux-mada/params.input
Due: none

remove echo message in the script
  changelog-entries/678.md
  free-flow-over-porous-media/free-flow-dumux/run.sh
  free-flow-over-porous-media/porous-media-dumux/run.sh
Due: check-links-to-precice

rename solver folders
  free-flow-over-porous-media/free-flow-dumux/CMakeLists.txt
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/CMakeLists.txt
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/main.cc
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/problem.hh
  free-flow-over-porous-media/free-flow-dumux/solver-dumux/properties.hh
  free-flow-over-porous-media/porous-media-dumux/CMakeLists.txt
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/CMakeLists.txt
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/main.cc
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/problem.hh
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/properties.hh
  free-flow-over-porous-media/porous-media-dumux/solver-dumux/spatialparams.hh
Due: none

Python tutorials: Allow skipping venv setup
  changelog-entries/680.md
  channel-transport-reaction/chemical-fenics/run.sh
  channel-transport-reaction/fluid-fenics/run.sh
  channel-transport/fluid-nutils/run.sh
  channel-transport/transport-nutils/run.sh
  elastic-tube-1d/fluid-python/run.sh
  elastic-tube-1d/solid-python/run.sh
  elastic-tube-3d/solid-fenics/run.sh
  flow-around-controlled-moving-cylinder/controller-fmi/run.sh
  flow-around-controlled-moving-cylinder/solid-python/run.sh
  flow-over-heated-plate/fluid-su2/run.sh
  flow-over-heated-plate/solid-dunefem/run.sh
  flow-over-heated-plate/solid-fenics/run.sh
  flow-over-heated-plate/solid-nutils/run.sh
  oscillator/mass-left-fmi/run.sh
  oscillator/mass-right-fmi/run.sh
  partitioned-heat-conduction-complex/dirichlet-fenics/run.sh
  partitioned-heat-conduction-complex/neumann-fenics/run.sh
  partitioned-heat-conduction-direct/dirichlet-nutils/run.sh
  partitioned-heat-conduction-direct/neumann-nutils/run.sh
  partitioned-heat-conduction-overlap/left-fenics/run.sh
  partitioned-heat-conduction-overlap/right-fenics/run.sh
  partitioned-heat-conduction/dirichlet-fenics/run.sh
  partitioned-heat-conduction/dirichlet-nutils/run.sh
  partitioned-heat-conduction/neumann-fenics/run.sh
  partitioned-heat-conduction/neumann-nutils/run.sh
  perpendicular-flap/fluid-fake/run.sh
  perpendicular-flap/fluid-nutils/run.sh
  perpendicular-flap/fluid-su2/run.sh
  perpendicular-flap/solid-fake/run.sh
  perpendicular-flap/solid-fenics/run.sh
  perpendicular-flap/solid-nutils/run.sh
  resonant-circuit/capacitor-python/run.sh
  resonant-circuit/coil-python/run.sh
  turek-hron-fsi3/fluid-nutils/run.sh
  turek-hron-fsi3/solid-nutils/run.sh
  two-scale-heat-conduction/macro-nutils/run.sh
  two-scale-heat-conduction/micro-nutils/run.sh
  volume-coupled-diffusion/drain-fenics/run.sh
  volume-coupled-diffusion/source-fenics/run.sh
Due: check-links-to-precice

Replace option with environment variable
  channel-transport-reaction/chemical-fenics/run.sh
  channel-transport-reaction/fluid-fenics/run.sh
  channel-transport/fluid-nutils/run.sh
  channel-transport/transport-nutils/run.sh
  elastic-tube-1d/fluid-python/run.sh
  elastic-tube-1d/solid-python/run.sh
  elastic-tube-3d/solid-fenics/run.sh
  flow-around-controlled-moving-cylinder/controller-fmi/run.sh
  flow-around-controlled-moving-cylinder/solid-python/run.sh
  flow-over-heated-plate/fluid-su2/run.sh
  flow-over-heated-plate/solid-dunefem/run.sh
  flow-over-heated-plate/solid-fenics/run.sh
  flow-over-heated-plate/solid-nutils/run.sh
  oscillator/mass-left-fmi/run.sh
  oscillator/mass-right-fmi/run.sh
  partitioned-heat-conduction-complex/dirichlet-fenics/run.sh
  partitioned-heat-conduction-complex/neumann-fenics/run.sh
  partitioned-heat-conduction-direct/dirichlet-nutils/run.sh
  partitioned-heat-conduction-direct/neumann-nutils/run.sh
  partitioned-heat-conduction-overlap/left-fenics/run.sh
  partitioned-heat-conduction-overlap/right-fenics/run.sh
  partitioned-heat-conduction/dirichlet-fenics/run.sh
  partitioned-heat-conduction/dirichlet-nutils/run.sh
  partitioned-heat-conduction/neumann-fenics/run.sh
  partitioned-heat-conduction/neumann-nutils/run.sh
  perpendicular-flap/fluid-fake/run.sh
  perpendicular-flap/fluid-nutils/run.sh
  perpendicular-flap/fluid-su2/run.sh
  perpendicular-flap/profiling.db
  perpendicular-flap/solid-fake/run.sh
  perpendicular-flap/solid-fenics/run.sh
  perpendicular-flap/solid-nutils/run.sh
  resonant-circuit/capacitor-python/run.sh
  resonant-circuit/coil-python/run.sh
  turek-hron-fsi3/fluid-nutils/run.sh
  turek-hron-fsi3/solid-nutils/run.sh
  two-scale-heat-conduction/macro-nutils/run.sh
  two-scale-heat-conduction/micro-nutils/run.sh
  volume-coupled-diffusion/drain-fenics/run.sh
  volume-coupled-diffusion/source-fenics/run.sh
Due: none

Update changelog entry
  changelog-entries/680.md
Due: check-links-to-precice

Switch to test -v option
  changelog-entries/680.md
  channel-transport-reaction/chemical-fenics/run.sh
  channel-transport-reaction/fluid-fenics/run.sh
  channel-transport/fluid-nutils/run.sh
  channel-transport/transport-nutils/run.sh
  elastic-tube-1d/fluid-python/run.sh
  elastic-tube-1d/solid-python/run.sh
  elastic-tube-3d/solid-fenics/run.sh
  flow-around-controlled-moving-cylinder/controller-fmi/run.sh
  flow-around-controlled-moving-cylinder/solid-python/run.sh
  flow-over-heated-plate/fluid-su2/run.sh
  flow-over-heated-plate/solid-dunefem/run.sh
  flow-over-heated-plate/solid-fenics/run.sh
  flow-over-heated-plate/solid-nutils/run.sh
  oscillator/mass-left-fmi/run.sh
  oscillator/mass-right-fmi/run.sh
  partitioned-heat-conduction-complex/dirichlet-fenics/run.sh
  partitioned-heat-conduction-complex/neumann-fenics/run.sh
  partitioned-heat-conduction-direct/dirichlet-nutils/run.sh
  partitioned-heat-conduction-direct/neumann-nutils/run.sh
  partitioned-heat-conduction-overlap/left-fenics/run.sh
  partitioned-heat-conduction-overlap/right-fenics/run.sh
  partitioned-heat-conduction/dirichlet-fenics/run.sh
  partitioned-heat-conduction/dirichlet-nutils/run.sh
  partitioned-heat-conduction/neumann-fenics/run.sh
  partitioned-heat-conduction/neumann-nutils/run.sh
  perpendicular-flap/fluid-fake/run.sh
  perpendicular-flap/fluid-nutils/run.sh
  perpendicular-flap/fluid-su2/run.sh
  perpendicular-flap/solid-fake/run.sh
  perpendicular-flap/solid-fenics/run.sh
  perpendicular-flap/solid-nutils/run.sh
  resonant-circuit/capacitor-python/run.sh
  resonant-circuit/coil-python/run.sh
  turek-hron-fsi3/fluid-nutils/run.sh
  turek-hron-fsi3/solid-nutils/run.sh
  two-scale-heat-conduction/macro-nutils/run.sh
  two-scale-heat-conduction/micro-nutils/run.sh
  volume-coupled-diffusion/drain-fenics/run.sh
  volume-coupled-diffusion/source-fenics/run.sh
Due: check-links-to-precice

Fix check (inverse logic)
  channel-transport-reaction/chemical-fenics/run.sh
  channel-transport-reaction/fluid-fenics/run.sh
  channel-transport/fluid-nutils/run.sh
  channel-transport/transport-nutils/run.sh
  elastic-tube-1d/fluid-python/run.sh
  elastic-tube-1d/solid-python/run.sh
  elastic-tube-3d/solid-fenics/run.sh
  flow-around-controlled-moving-cylinder/controller-fmi/run.sh
  flow-around-controlled-moving-cylinder/solid-python/run.sh
  flow-over-heated-plate/fluid-su2/run.sh
  flow-over-heated-plate/solid-dunefem/run.sh
  flow-over-heated-plate/solid-fenics/run.sh
  flow-over-heated-plate/solid-nutils/run.sh
  oscillator/mass-left-fmi/run.sh
  oscillator/mass-right-fmi/run.sh
  partitioned-heat-conduction-complex/dirichlet-fenics/run.sh
  partitioned-heat-conduction-complex/neumann-fenics/run.sh
  partitioned-heat-conduction-direct/dirichlet-nutils/run.sh
  partitioned-heat-conduction-direct/neumann-nutils/run.sh
  partitioned-heat-conduction-overlap/left-fenics/run.sh
  partitioned-heat-conduction-overlap/right-fenics/run.sh
  partitioned-heat-conduction/dirichlet-fenics/run.sh
  partitioned-heat-conduction/dirichlet-nutils/run.sh
  partitioned-heat-conduction/neumann-fenics/run.sh
  partitioned-heat-conduction/neumann-nutils/run.sh
  perpendicular-flap/fluid-fake/run.sh
  perpendicular-flap/fluid-nutils/run.sh
  perpendicular-flap/fluid-su2/run.sh
  perpendicular-flap/solid-fake/run.sh
  perpendicular-flap/solid-fenics/run.sh
  perpendicular-flap/solid-nutils/run.sh
  resonant-circuit/capacitor-python/run.sh
  resonant-circuit/coil-python/run.sh
  turek-hron-fsi3/fluid-nutils/run.sh
  turek-hron-fsi3/solid-nutils/run.sh
  two-scale-heat-conduction/macro-nutils/run.sh
  two-scale-heat-conduction/micro-nutils/run.sh
  volume-coupled-diffusion/drain-fenics/run.sh
  volume-coupled-diffusion/source-fenics/run.sh
Due: none

Reorder partitioned-heat-conduction/dirichlet-fenics/run.sh for consistency
  partitioned-heat-conduction/dirichlet-fenics/run.sh
Due: none

Python tutorials: Allow skipping venv setup (#680)
  changelog-entries/680.md
  channel-transport-reaction/chemical-fenics/run.sh
  channel-transport-reaction/fluid-fenics/run.sh
  channel-transport/fluid-nutils/run.sh
  channel-transport/transport-nutils/run.sh
  elastic-tube-1d/fluid-python/run.sh
  elastic-tube-1d/solid-python/run.sh
  elastic-tube-3d/solid-fenics/run.sh
  flow-around-controlled-moving-cylinder/controller-fmi/run.sh
  flow-around-controlled-moving-cylinder/solid-python/run.sh
  flow-over-heated-plate/fluid-su2/run.sh
  flow-over-heated-plate/solid-dunefem/run.sh
  flow-over-heated-plate/solid-fenics/run.sh
  flow-over-heated-plate/solid-nutils/run.sh
  oscillator/mass-left-fmi/run.sh
  oscillator/mass-right-fmi/run.sh
  partitioned-heat-conduction-complex/dirichlet-fenics/run.sh
  partitioned-heat-conduction-complex/neumann-fenics/run.sh
  partitioned-heat-conduction-direct/dirichlet-nutils/run.sh
  partitioned-heat-conduction-direct/neumann-nutils/run.sh
  partitioned-heat-conduction-overlap/left-fenics/run.sh
  partitioned-heat-conduction-overlap/right-fenics/run.sh
  partitioned-heat-conduction/dirichlet-fenics/run.sh
  partitioned-heat-conduction/dirichlet-nutils/run.sh
  partitioned-heat-conduction/neumann-fenics/run.sh
  partitioned-heat-conduction/neumann-nutils/run.sh
  perpendicular-flap/fluid-fake/run.sh
  perpendicular-flap/fluid-nutils/run.sh
  perpendicular-flap/fluid-su2/run.sh
  perpendicular-flap/solid-fake/run.sh
  perpendicular-flap/solid-fenics/run.sh
  perpendicular-flap/solid-nutils/run.sh
  resonant-circuit/capacitor-python/run.sh
  resonant-circuit/coil-python/run.sh
  turek-hron-fsi3/fluid-nutils/run.sh
  turek-hron-fsi3/solid-nutils/run.sh
  two-scale-heat-conduction/macro-nutils/run.sh
  two-scale-heat-conduction/micro-nutils/run.sh
  volume-coupled-diffusion/drain-fenics/run.sh
  volume-coupled-diffusion/source-fenics/run.sh
Due: check-links-to-precice
