Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

check-image-naming:
  name: check image names
  language: python
  entry: tools/check-image-names.py

check-links-to-precice:
  name: check links to precice.org
  language: script
  entry: tools/check-links-to-precice.sh

remove clone depth
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Address review comments for G+Smo tutorial
  partitioned-heat-conduction/README.md
  partitioned-heat-conduction/dirichlet-gismo/clean.sh
  partitioned-heat-conduction/dirichlet-gismo/run.sh
  partitioned-heat-conduction/images/tutorial-partitioned-heat-conduction-gismo.gif
  partitioned-heat-conduction/neumann-gismo/clean.sh
  partitioned-heat-conduction/neumann-gismo/run.sh
Due: check-image-naming, check-links-to-precice

Add initial setup
  channel-transport-particles/clean-tutorial.sh
  channel-transport-particles/fluid-nutils/clean.sh
  channel-transport-particles/fluid-nutils/fluid.py
  channel-transport-particles/fluid-nutils/requirements.txt
  channel-transport-particles/fluid-nutils/run.sh
  channel-transport-particles/fluid-openfoam/0/U
  channel-transport-particles/fluid-openfoam/0/p
  channel-transport-particles/fluid-openfoam/clean.sh
  channel-transport-particles/fluid-openfoam/constant/transportProperties
  channel-transport-particles/fluid-openfoam/constant/turbulenceProperties
  channel-transport-particles/fluid-openfoam/run.sh
  channel-transport-particles/fluid-openfoam/system/blockMeshDict
  channel-transport-particles/fluid-openfoam/system/controlDict
  channel-transport-particles/fluid-openfoam/system/decomposeParDict
  channel-transport-particles/fluid-openfoam/system/fvSchemes
  channel-transport-particles/fluid-openfoam/system/fvSolution
  channel-transport-particles/fluid-openfoam/system/preciceDict
  channel-transport-particles/particles-mercurydpm/.keepme
  channel-transport-particles/precice-config.xml
Due: none

Configure the case properly
  channel-transport-particles/precice-config.xml
Due: none

Fix the remaining naming changes in macro-dumux, and add a changelog entry
  changelog-entries/699.md
  two-scale-heat-conduction/macro-dumux/appl/spatialparams.hh
  two-scale-heat-conduction/macro-dumux/params.input
Due: check-links-to-precice

Obey data and mesh naming rules in the two-scale heat conduction (#699)
  changelog-entries/699.md
  two-scale-heat-conduction/images/tutorials-two-scale-heat-conduction-precice-config.png
  two-scale-heat-conduction/macro-dumux/appl/main.cc
  two-scale-heat-conduction/macro-dumux/appl/spatialparams.hh
  two-scale-heat-conduction/macro-dumux/params.input
  two-scale-heat-conduction/macro-nutils/macro.py
  two-scale-heat-conduction/micro-dumux/appl/micro_sim.cpp
  two-scale-heat-conduction/micro-dumux/micro-manager-config.json
  two-scale-heat-conduction/micro-nutils/micro-manager-config.json
  two-scale-heat-conduction/micro-nutils/micro.py
  two-scale-heat-conduction/precice-config.xml
Due: check-image-naming, check-links-to-precice

add micro manager in docker image
  .github/workflows/system-tests-latest-components.yml
  tools/tests/component-templates/micro-manager.yaml
  tools/tests/components.yaml
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
  tools/tests/reference_versions.yaml
  two-scale-heat-conduction/metadata.yaml
Due: none

Improve compilation script for cases with dumux
  free-flow-over-porous-media/compile-dumux-cases.sh
  two-scale-heat-conduction/compile-dumux-cases.sh
Due: none

Rephrase and add changelog entry
  changelog-entries/701.md
  free-flow-over-porous-media/compile-dumux-cases.sh
  two-scale-heat-conduction/compile-dumux-cases.sh
Due: check-links-to-precice

Improve compilation script for cases with DuMux (#701)
  changelog-entries/701.md
  free-flow-over-porous-media/compile-dumux-cases.sh
  two-scale-heat-conduction/compile-dumux-cases.sh
Due: check-links-to-precice

Add preliminary README
  channel-transport-particles/README.md
Due: check-links-to-precice

Update reference results to precice d199bb3 (#698)
  elastic-tube-1d/reference-results/fluid-cpp_solid-cpp.tar.gz
  elastic-tube-1d/reference-results/fluid-cpp_solid-python.tar.gz
  elastic-tube-1d/reference-results/fluid-python_solid-python.tar.gz
  elastic-tube-1d/reference_results.metadata
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-fenics.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-nutils.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-openfoam.tar.gz
  flow-over-heated-plate/reference_results.metadata
  multiple-perpendicular-flaps/reference_results.metadata
  perpendicular-flap/reference-results/fluid-openfoam_solid-calculix.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-dealii.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-upstream-dealii_solid-downstream-dealii.tar.gz
  perpendicular-flap/reference-results/fluid-su2_solid-fenics.tar.gz
  perpendicular-flap/reference_results.metadata
  tools/tests/reference_versions.yaml
Due: none

All tutorials: Add URLs to both develop and master
  aste-turbine/README.md
  breaking-dam-2d/README.md
  channel-transport-reaction/README.md
  channel-transport/README.md
  elastic-tube-1d/README.md
  elastic-tube-3d/README.md
  flow-around-controlled-moving-cylinder/README.md
  flow-over-heated-plate-nearest-projection/README.md
  flow-over-heated-plate-partitioned-flow/README.md
  flow-over-heated-plate-steady-state/README.md
  flow-over-heated-plate-two-meshes/README.md
  flow-over-heated-plate/README.md
  free-flow-over-porous-media/README.md
  heat-exchanger-simplified/README.md
  heat-exchanger/README.md
  multiple-perpendicular-flaps/README.md
  oscillator-overlap/README.md
  oscillator/README.md
  partitioned-backwards-facing-step/README.md
  partitioned-elastic-beam/README.md
  partitioned-heat-conduction-complex/README.md
  partitioned-heat-conduction-direct/README.md
  partitioned-heat-conduction-overlap/README.md
  partitioned-heat-conduction/README.md
  partitioned-pipe-two-phase/README.md
  partitioned-pipe/README.md
  perpendicular-flap-stress/README.md
  perpendicular-flap/README.md
  turek-hron-fsi3/README.md
  two-scale-heat-conduction/README.md
  volume-coupled-diffusion/README.md
  volume-coupled-flow/README.md
Due: check-links-to-precice

All tutorials: Add URLs to both develop and master (#704)
  aste-turbine/README.md
  breaking-dam-2d/README.md
  channel-transport-reaction/README.md
  channel-transport/README.md
  elastic-tube-1d/README.md
  elastic-tube-3d/README.md
  flow-around-controlled-moving-cylinder/README.md
  flow-over-heated-plate-nearest-projection/README.md
  flow-over-heated-plate-partitioned-flow/README.md
  flow-over-heated-plate-steady-state/README.md
  flow-over-heated-plate-two-meshes/README.md
  flow-over-heated-plate/README.md
  free-flow-over-porous-media/README.md
  heat-exchanger-simplified/README.md
  heat-exchanger/README.md
  multiple-perpendicular-flaps/README.md
  oscillator-overlap/README.md
  oscillator/README.md
  partitioned-backwards-facing-step/README.md
  partitioned-elastic-beam/README.md
  partitioned-heat-conduction-complex/README.md
  partitioned-heat-conduction-direct/README.md
  partitioned-heat-conduction-overlap/README.md
  partitioned-heat-conduction/README.md
  partitioned-pipe-two-phase/README.md
  partitioned-pipe/README.md
  perpendicular-flap-stress/README.md
  perpendicular-flap/README.md
  turek-hron-fsi3/README.md
  two-scale-heat-conduction/README.md
  volume-coupled-diffusion/README.md
  volume-coupled-flow/README.md
Due: check-links-to-precice

Updated format: #704
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Pre-commit formatting
  partitioned-burgers-1d/README.md
  partitioned-burgers-1d/neumann-surrogate/config.py
  partitioned-burgers-1d/neumann-surrogate/model.py
  partitioned-burgers-1d/neumann-surrogate/solver.py
  partitioned-burgers-1d/precice-config.xml
  partitioned-burgers-1d/solver-scipy/solver.py
  partitioned-burgers-1d/utils/generate_ic.py
  partitioned-burgers-1d/utils/run-partitioned-scipy.sh
  partitioned-burgers-1d/utils/run-partitioned-surrogate.sh
  partitioned-burgers-1d/utils/visualize_partitioned_domain.py
Due: check-links-to-precice

Pre-commit formatting fix 2
  partitioned-burgers-1d/utils/generate-training-data.sh
Due: none

Allow skipping venv setup #680
  partitioned-burgers-1d/dirichlet-scipy/run.sh
  partitioned-burgers-1d/neumann-scipy/run.sh
  partitioned-burgers-1d/neumann-surrogate/run.sh
  partitioned-burgers-1d/solver-scipy/run.sh
  partitioned-burgers-1d/utils/run-partitioned-scipy.sh
  partitioned-burgers-1d/utils/run-partitioned-surrogate.sh
Due: none

Improve readme
  free-flow-over-porous-media/README.md
  free-flow-over-porous-media/free-flow-dumux/run.sh
  free-flow-over-porous-media/porous-media-dumux/run.sh
  two-scale-heat-conduction/README.md
  two-scale-heat-conduction/macro-dumux/run.sh
  two-scale-heat-conduction/micro-dumux/run.sh
Due: check-links-to-precice

Provide compilation option for existing dumux installation
  free-flow-over-porous-media/README.md
  free-flow-over-porous-media/compile-dumux-cases.sh
  free-flow-over-porous-media/free-flow-dumux/run.sh
  free-flow-over-porous-media/porous-media-dumux/run.sh
  free-flow-over-porous-media/setup-dumux.sh
  two-scale-heat-conduction/README.md
  two-scale-heat-conduction/compile-dumux-cases.sh
  two-scale-heat-conduction/macro-dumux/run.sh
  two-scale-heat-conduction/micro-dumux/run.sh
  two-scale-heat-conduction/setup-dumux.sh
Due: check-links-to-precice

Improve arguments parsing
  free-flow-over-porous-media/free-flow-dumux/run.sh
  free-flow-over-porous-media/porous-media-dumux/run.sh
  two-scale-heat-conduction/macro-dumux/run.sh
  two-scale-heat-conduction/micro-dumux/run.sh
Due: none

Add changelog
  changelog-entries/702.md
Due: check-links-to-precice

Add config-visualization
  channel-transport-particles/README.md
  channel-transport-particles/images/tutorials-channel-transport-particles-precice-config.pdf
Due: check-image-naming, check-links-to-precice

Update note
  channel-transport-particles/README.md
Due: check-links-to-precice

Add a changelog entry
  changelog-entries/700.md
Due: check-links-to-precice

Add a setup image
  channel-transport-particles/README.md
  channel-transport-particles/images/tutorials-channel-transport-particles-setup.png
Due: check-image-naming, check-links-to-precice

MercuryDPM cleaning utility
  channel-transport-particles/particles-mercurydpm/.keepme
  channel-transport-particles/particles-mercurydpm/clean.sh
  tools/cleaning-tools.sh
Due: none

Add a run script
  channel-transport-particles/particles-mercurydpm/run.sh
Due: none

Extend the README
  channel-transport-particles/README.md
  channel-transport-particles/particles-mercurydpm/run.sh
Due: check-links-to-precice

Update readme ## Visualization
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Remove stylizing of DuMux name
  free-flow-over-porous-media/README.md
Due: check-links-to-precice

Remove stylizing of DuMux name
  two-scale-heat-conduction/README.md
Due: check-links-to-precice

Separate default from non-default run.sh options
  two-scale-heat-conduction/README.md
Due: check-links-to-precice

Update README with run instructions for porous-media
  free-flow-over-porous-media/README.md
Due: check-links-to-precice

Provide compilation option for existing dumux installation (#702)
  changelog-entries/702.md
  free-flow-over-porous-media/README.md
  free-flow-over-porous-media/compile-dumux-cases.sh
  free-flow-over-porous-media/free-flow-dumux/run.sh
  free-flow-over-porous-media/porous-media-dumux/run.sh
  free-flow-over-porous-media/setup-dumux.sh
  two-scale-heat-conduction/README.md
  two-scale-heat-conduction/compile-dumux-cases.sh
  two-scale-heat-conduction/macro-dumux/run.sh
  two-scale-heat-conduction/micro-dumux/run.sh
  two-scale-heat-conduction/setup-dumux.sh
Due: check-links-to-precice

Add path to dumux
  free-flow-over-porous-media/metadata.yaml
  two-scale-heat-conduction/metadata.yaml
Due: none

Channel transport with particles (#700)
  changelog-entries/700.md
  channel-transport-particles/README.md
  channel-transport-particles/clean-tutorial.sh
  channel-transport-particles/fluid-nutils/clean.sh
  channel-transport-particles/fluid-nutils/fluid.py
  channel-transport-particles/fluid-nutils/requirements.txt
  channel-transport-particles/fluid-nutils/run.sh
  channel-transport-particles/fluid-openfoam/0/U
  channel-transport-particles/fluid-openfoam/0/p
  channel-transport-particles/fluid-openfoam/clean.sh
  channel-transport-particles/fluid-openfoam/constant/transportProperties
  channel-transport-particles/fluid-openfoam/constant/turbulenceProperties
  channel-transport-particles/fluid-openfoam/run.sh
  channel-transport-particles/fluid-openfoam/system/blockMeshDict
  channel-transport-particles/fluid-openfoam/system/controlDict
  channel-transport-particles/fluid-openfoam/system/decomposeParDict
  channel-transport-particles/fluid-openfoam/system/fvSchemes
  channel-transport-particles/fluid-openfoam/system/fvSolution
  channel-transport-particles/fluid-openfoam/system/preciceDict
  channel-transport-particles/images/tutorials-channel-transport-particles-precice-config.pdf
  channel-transport-particles/images/tutorials-channel-transport-particles-setup.png
  channel-transport-particles/particles-mercurydpm/clean.sh
  channel-transport-particles/particles-mercurydpm/run.sh
  channel-transport-particles/precice-config.xml
  tools/cleaning-tools.sh
Due: check-image-naming, check-links-to-precice

Uncomment free-flow case
  tools/tests/tests.yaml
Due: none

Pre-commit formatting fix
  partitioned-burgers-1d/README.md
Due: check-links-to-precice

Formatting in systemtests script
  tools/tests/systemtests/Systemtest.py
Due: none

Path conditions:
  check-image-naming: any of: .*/images/.*
  check-links-to-precice: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
