Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Add implementation to enable parallel execution of macro-dumux (#663)
  changelog-entries/663.md
  two-scale-heat-conduction/macro-dumux/appl/main.cc
  two-scale-heat-conduction/macro-dumux/appl/spatialparams.hh
Due: check-links-to-precice

Fix negotiation of dt value in macro-dumux
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Add changelog entry
  changelog-entries/664.md
Due: check-links-to-precice

Incorporate review feedback
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Fix negotiation of dt value in two-scale-heat-conduction/macro-dumux (#664)
  changelog-entries/664.md
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: check-links-to-precice

[two-scale-heat-conduction] Write data only for interior elements
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Formatting
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Add logging in run scripts and switch shell to bash
  growing-mesh/A/run.sh
  growing-mesh/B/run.sh
Due: none

Add pip freeze step in run scripts
  growing-mesh/A/run.sh
  growing-mesh/B/run.sh
Due: none

Fix Python string formatting
  growing-mesh/solver-python/solver.py
Due: none

Add cleaning scripts
  growing-mesh/A/clean.sh
  growing-mesh/B/clean.sh
  growing-mesh/clean-tutorial.sh
Due: none

Fix strings format
  growing-mesh/solver-python/solver.py
Due: none

Disable debug logging
  growing-mesh/precice-config.xml
Due: none

[macro-dumux] Handle subcycling in macro-dumux. Fix checkpointing.
  two-scale-heat-conduction/macro-dumux/appl/main.cc
  two-scale-heat-conduction/macro-dumux/params.input
  two-scale-heat-conduction/precice-config.xml
Due: none

[macro-dumux] Warn about different dt after solve
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

[macro-dumux] Negotiate dt before solve
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

[macro-dumux] Advance DuMux by default after solve
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

[macro-dumux] Cleanup time loop
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Add Nutils participants for turek-hron-fsi3 (#648)
  turek-hron-fsi3/README.md
  turek-hron-fsi3/fluid-nutils/clean.sh
  turek-hron-fsi3/fluid-nutils/fluid.geo
  turek-hron-fsi3/fluid-nutils/fluid.py
  turek-hron-fsi3/fluid-nutils/requirements.txt
  turek-hron-fsi3/fluid-nutils/run.sh
  turek-hron-fsi3/plot-displacement.sh
  turek-hron-fsi3/solid-nutils/clean.sh
  turek-hron-fsi3/solid-nutils/requirements.txt
  turek-hron-fsi3/solid-nutils/run.sh
  turek-hron-fsi3/solid-nutils/solid.geo
  turek-hron-fsi3/solid-nutils/solid.py
Due: check-links-to-precice

[two-scale-heat-conduction] Fix parallel macro: Write data only for interior elements (#665)
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: none

Add missing changelog entry for #665
  changelog-entries/665.md
Due: check-links-to-precice

Add changelog entry
  changelog-entries/666.md
Due: check-links-to-precice

Formatting and making code comment more informative
  changelog-entries/666.md
  two-scale-heat-conduction/macro-dumux/appl/main.cc
Due: check-links-to-precice

Fix subcycling and checkpointing for two-scale-heat-conduction participant macro-dumux (#666)
  changelog-entries/666.md
  two-scale-heat-conduction/macro-dumux/appl/main.cc
  two-scale-heat-conduction/macro-dumux/params.input
  two-scale-heat-conduction/precice-config.xml
Due: check-links-to-precice

add changes to combine foam-extend and openfoam for the quickstart tutorial
  quickstart/fluid-openfoam/constant/dynamicMeshDict
  quickstart/fluid-openfoam/system/controlDict
  quickstart/fluid-openfoam/system/fvSchemes
  quickstart/fluid-openfoam/system/fvSolution
  quickstart/fluid-openfoam/system/preciceDict
  tools/run-foam-extend.sh
Due: none

make run-foam-extend.sh executable
  tools/run-foam-extend.sh
Due: none

remove the too late creation of blockMeshDict for OpenFOAM
  tools/run-foam-extend.sh
Due: none

adding missing values for foam-extend
  quickstart/fluid-openfoam/0/U
Due: none

add fix to adjust to limited version of getApplications in foam-extend
  tools/run-foam-extend.sh
Due: none

add changes before deleting folder
  quickstart/fluid-foam-extend/0/U
  quickstart/fluid-foam-extend/system/controlDict
Due: none

remove no longer required folder for foam-extend
  quickstart/fluid-foam-extend/0/U
  quickstart/fluid-foam-extend/0/p
  quickstart/fluid-foam-extend/0/pointDisplacement
  quickstart/fluid-foam-extend/clean.sh
  quickstart/fluid-foam-extend/constant/dynamicMeshDict
  quickstart/fluid-foam-extend/constant/polyMesh/blockMeshDict
  quickstart/fluid-foam-extend/constant/transportProperties
  quickstart/fluid-foam-extend/constant/turbulenceProperties
  quickstart/fluid-foam-extend/run.sh
  quickstart/fluid-foam-extend/system/controlDict
  quickstart/fluid-foam-extend/system/decomposeParDict
  quickstart/fluid-foam-extend/system/fvSchemes
  quickstart/fluid-foam-extend/system/fvSolution
  quickstart/fluid-foam-extend/system/preciceDict
Due: none

Direct mesh access version for partitioned heat conduction
  partitioned-heat-conduction-direct/dirichlet-gismo/clean.sh
  partitioned-heat-conduction-direct/dirichlet-gismo/run.sh
  partitioned-heat-conduction-direct/neumann-gismo/clean.sh
  partitioned-heat-conduction-direct/neumann-gismo/run.sh
  partitioned-heat-conduction/gismo-executable/gismo-executable
  partitioned-heat-conduction/gismo-executable/partitioned-heat-conduction.cpp
Due: none

run-foam-extend.sh: Back up original files
  tools/run-foam-extend.sh
Due: none

Add comments in the controlDict
  quickstart/fluid-openfoam/system/controlDict
Due: none

Add comments for lines only relevant to foam-extend
  quickstart/fluid-openfoam/0/U
  quickstart/fluid-openfoam/constant/dynamicMeshDict
  quickstart/fluid-openfoam/system/fvSchemes
  quickstart/fluid-openfoam/system/fvSolution
  quickstart/fluid-openfoam/system/preciceDict
Due: none

Add a note in README.md
  quickstart/README.md
Due: check-links-to-precice

Remove simulation time from precice-config of two-scale heat conduction
  two-scale-heat-conduction/precice-config.xml
Due: none

Add changelog entry
  changelog-entries/668.md
Due: check-links-to-precice

Use past tense in changelog
  changelog-entries/668.md
Due: check-links-to-precice

Modify visualization of precice config
  two-scale-heat-conduction/images/tutorials-two-scale-heat-conduction-precice-config.png
Due: check-image-naming
