Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Use 50 chars for outputFilePrefix
  elastic-tube-1d/fluid-fortran/src/FluidSolver.f90
Due: none

Include fortran result in plot-all image
  elastic-tube-1d/images/tutorials-elastic-tube-1d-all.png
Due: check-image-naming

Set character lengths to 50
  elastic-tube-1d/fluid-fortran/src/FluidSolver.f90
  elastic-tube-1d/solid-fortran/src/SolidSolver.f90
Due: none

Set Fortran standard and enable warnings in debug builds
  elastic-tube-1d/fluid-fortran/CMakeLists.txt
  elastic-tube-1d/solid-fortran/CMakeLists.txt
Due: none

Include Fortran watchpoint in plot-all script
  elastic-tube-1d/plot-all.sh
Due: none

Add comments from cpp, capitalize pi
  elastic-tube-1d/fluid-fortran/src/FluidSolver.f90
Due: none

Remove Fortran standard
  elastic-tube-1d/fluid-fortran/CMakeLists.txt
  elastic-tube-1d/solid-fortran/CMakeLists.txt
Due: none

Remove unused variable
  elastic-tube-1d/solid-fortran/src/SolidSolver.f90
Due: none

Deleted folders
  elastic-tube-1d/fluid-fortran/CMakeLists.txt
  elastic-tube-1d/fluid-fortran/clean.sh
  elastic-tube-1d/fluid-fortran/output/.keepme
  elastic-tube-1d/fluid-fortran/run.sh
  elastic-tube-1d/fluid-fortran/src/FluidComputeSolution.f90
  elastic-tube-1d/fluid-fortran/src/FluidSolver.f90
  elastic-tube-1d/fluid-fortran/src/utilities.f90
  elastic-tube-1d/solid-fortran/CMakeLists.txt
  elastic-tube-1d/solid-fortran/clean.sh
  elastic-tube-1d/solid-fortran/run.sh
  elastic-tube-1d/solid-fortran/src/SolidComputeSolution.f90
  elastic-tube-1d/solid-fortran/src/SolidSolver.f90
Due: none

Point to the develop branch of the Micro Manager in requirements.txt
  two-scale-heat-conduction/micro-nutils/requirements.txt
Due: none

Change config_file_name attribute to precice_config_file_name
  two-scale-heat-conduction/micro-dumux/micro-manager-config.json
  two-scale-heat-conduction/micro-nutils/micro-manager-config.json
Due: none

Update default OpenFOAM version
  quickstart/README.md
Due: check-links-to-precice

Include fluid-fortran-module results in plots
  elastic-tube-1d/plot-all.sh
  elastic-tube-1d/plot-diameter.sh
Due: none

Update plot-all image
  elastic-tube-1d/images/tutorials-elastic-tube-1d-all.png
Due: check-image-naming

Fix backslash
  elastic-tube-1d/plot-all.sh
Due: none

Deleted file
  elastic-tube-1d/fluid-fortran-module/output/.keepme
Due: none

Add changelog entry
  changelog-entries/607.md
Due: check-links-to-precice

Add changelog entry
  changelog-entries/606.md
Due: check-links-to-precice

Create output directory in run script
  elastic-tube-1d/fluid-fortran-module/run.sh
Due: none

Delete folder
  elastic-tube-1d/fluid-fortran/output/.keepme
Due: none

Create output folder in run script
  elastic-tube-1d/fluid-fortran/run.sh
Due: none

Update changelog-entries/606.md
  changelog-entries/606.md
Due: check-links-to-precice

Add the fortran-module as submodule in the solvers folder
  .gitmodules
Due: none

Use submodule update in run scripts
  elastic-tube-1d/fluid-fortran-module/run.sh
  elastic-tube-1d/solid-fortran-module/run.sh
Due: none

Reference precice.f90 from submodule path
  elastic-tube-1d/fluid-fortran-module/CMakeLists.txt
  elastic-tube-1d/solid-fortran-module/CMakeLists.txt
Due: none

Update README.md
  quickstart/README.md
Due: check-links-to-precice

Add default profiling explicitly in xml configs
  breaking-dam-2d/precice-config.xml
  channel-transport-reaction/precice-config.xml
  channel-transport/precice-config.xml
  elastic-tube-1d/precice-config.xml
  elastic-tube-3d/precice-config.xml
  flow-around-controlled-moving-cylinder/precice-config.xml
  flow-over-heated-plate-nearest-projection/precice-config.xml
  flow-over-heated-plate-partitioned-flow/precice-config.xml
  flow-over-heated-plate-steady-state/precice-config.xml
  flow-over-heated-plate-two-meshes/precice-config.xml
  flow-over-heated-plate/precice-config.xml
  heat-exchanger-simplified/precice-config.xml
  heat-exchanger/precice-config.xml
  multiple-perpendicular-flaps/precice-config.xml
  oscillator-overlap/precice-config.xml
  oscillator/precice-config.xml
  partitioned-backwards-facing-step/precice-config.xml
  partitioned-elastic-beam/precice-config.xml
  partitioned-heat-conduction-complex/precice-config.xml
  partitioned-heat-conduction-direct/precice-config.xml
  partitioned-heat-conduction-overlap/precice-config.xml
  partitioned-heat-conduction/precice-config.xml
  partitioned-pipe-two-phase/precice-config.xml
  partitioned-pipe/precice-config.xml
  perpendicular-flap/precice-config.xml
  quickstart/precice-config.xml
  turek-hron-fsi3/precice-config.xml
  two-scale-heat-conduction/precice-config.xml
  volume-coupled-diffusion/precice-config.xml
  volume-coupled-flow/precice-config.xml
Due: none

Update reference versions
  tools/tests/reference_versions.yaml
Due: none

Bump base image to Ubuntu 24.04
  tools/tests/README.md
  tools/tests/components.yaml
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
  tools/tests/reference_versions.yaml
Due: check-links-to-precice

Remove step to upgrade pip
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Apply a patch for SU2
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Install setuptools
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Install mpi4py and setuptools from APT
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Enforce Python 3.11
  .github/workflows/generate_reference_results_workflow.yml
Due: none

Revert the enforcement of Python 3.11
  .github/workflows/generate_reference_results_workflow.yml
Due: none

Add changelog entry
  changelog-entries/618.md
Due: check-links-to-precice

Use linearly increasing ramp in fluid-openfoam.
  perpendicular-flap/fluid-openfoam/0/U
Due: none

Increase OpenFOAM time step size from 1/10 to 1/4.
  perpendicular-flap/fluid-openfoam/system/controlDict
Due: none

Change implementation of hashing to be compatible with Python 3.10
  tools/tests/generate_reference_results.py
Due: none
