Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Adding reference results
  elastic-tube-1d/reference-results/fluid-cpp_solid-cpp.tar.gz
  elastic-tube-1d/reference-results/fluid-cpp_solid-python.tar.gz
  elastic-tube-1d/reference-results/fluid-python_solid-python.tar.gz
  elastic-tube-1d/reference_results.metadata
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-fenics.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-nutils.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-openfoam.tar.gz
  flow-over-heated-plate/reference_results.metadata
  multiple-perpendicular-flaps/reference_results.metadata
  perpendicular-flap/reference-results/fluid-openfoam_solid-calculix.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-dealii.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-upstream-dealii_solid-downstream-dealii.tar.gz
  perpendicular-flap/reference-results/fluid-su2_solid-fenics.tar.gz
  perpendicular-flap/reference_results.metadata
Due: none

Make system tests (latest components) workflow reusable
  .github/workflows/system-tests-latest-components.yml
Due: none

Quickstart: Bump suggested preCICE version to v3.2.0
  quickstart/README.md
Due: check-links-to-precice

Update systemtests.py
  tools/tests/systemtests.py
Due: none

Update build_docker_images.py
  tools/tests/build_docker_images.py
Due: none

Update generate_reference_results.py
  tools/tests/generate_reference_results.py
Due: none

increase velocity 10x
  perpendicular-flap/fluid-openfoam/0/U
Due: none

fix stability issues with k and omega
  perpendicular-flap/fluid-openfoam/0/k
  perpendicular-flap/fluid-openfoam/0/omega
  perpendicular-flap/fluid-openfoam/system/controlDict
  perpendicular-flap/fluid-openfoam/system/fvSolution
Due: none

refine mesh and extend domain
  perpendicular-flap/fluid-openfoam/run.sh
  perpendicular-flap/fluid-openfoam/system/blockMeshDict
  perpendicular-flap/fluid-openfoam/system/refineMeshDict
  perpendicular-flap/fluid-openfoam/system/topoSetDict
Due: none

increase Youngs modulus 50x
  perpendicular-flap/solid-calculix/flap.inp
Due: none

New tutorial: two-scale mechanics problem on a 3D notch component
  two-scale-notch/README.md
  two-scale-notch/images/tutorials-two-scale-notch-mesh-with-boundary-conditions.png
  two-scale-notch/images/tutorials-two-scale-notch-precice-config.png
  two-scale-notch/images/tutorials-two-scale-notch-von-mises-stress.png
  two-scale-notch/macro-calculix/config.yml
  two-scale-notch/macro-calculix/notch.inp
  two-scale-notch/macro-calculix/run.sh
  two-scale-notch/micro-fans/input.json
  two-scale-notch/micro-fans/micro-manager-config.json
  two-scale-notch/micro-fans/run.sh
  two-scale-notch/precice-config.xml
Due: check-image-naming, check-links-to-precice

Add further files to the tutorial
  two-scale-notch/README.md
  two-scale-notch/clean-tutorial.sh
  two-scale-notch/macro-calculix/clean.sh
  two-scale-notch/macro-calculix/config.yml
  two-scale-notch/micro-fans/clean.sh
  two-scale-notch/micro-fans/micro-manager-config.json
  two-scale-notch/micro-fans/sphere32.h5
  two-scale-notch/precice-config.xml
Due: check-links-to-precice

Make the notch geometry coarser to speed up the simulation
  two-scale-notch/README.md
  two-scale-notch/macro-calculix/notch.inp
  two-scale-notch/macro-calculix/run.sh
Due: check-links-to-precice

Trigger pre-commit
  two-scale-notch/precice-config.xml
Due: none

Add microstructure image
  two-scale-notch/README.md
  two-scale-notch/images/tutorials-two-scale-notch-micro-structure.png
Due: check-image-naming, check-links-to-precice

Update partitioned-pipe-multiscale/fluid3d-openfoam/constant/transportProperties
  partitioned-pipe-multiscale/fluid3d-openfoam/constant/transportProperties
Due: none

Remove stray log file
  partitioned-pipe-multiscale/fluid1d-python/precice-Fluid1D-iterations.log
Due: none

Update run.sh and clean.sh scripts
  partitioned-pipe-multiscale/fluid1d-python/clean.sh
  partitioned-pipe-multiscale/fluid1d-python/run.sh
  partitioned-pipe-multiscale/fluid3d-openfoam/clean.sh
  partitioned-pipe-multiscale/fluid3d-openfoam/run.sh
Due: none

Port precice-config.xml to v3
  partitioned-pipe-multiscale/precice-config.xml
Due: none

Nutils: Add a venv and a requirements.txt
  partitioned-pipe-multiscale/fluid1d-python/requirements.txt
  partitioned-pipe-multiscale/fluid1d-python/run.sh
Due: none

Add clean-tutorial.sh
  partitioned-pipe-multiscale/clean-tutorial.sh
  partitioned-pipe-multiscale/fluid1d-python/clean.sh
Due: none

Rename .gitkeep to .gitignore
  partitioned-pipe-multiscale/fluid1d-python/results/.gitignore
  partitioned-pipe-multiscale/fluid1d-python/results/.gitkeep
Due: none

Port Fluid1D.py to preCICE v3
  partitioned-pipe-multiscale/fluid1d-python/Fluid1D.py
Due: none

Update config visualization
  partitioned-pipe-multiscale/images/tutorials-partitioned-pipe-multiscale-config.png
Due: check-image-naming

Fix shape of wrte_vel
  partitioned-pipe-multiscale/fluid1d-python/Fluid1D.py
Due: none

Remove duplicate .foam file
  partitioned-pipe-multiscale/fluid3d-openfoam/run.sh
Due: none

added tutorial for foam-extend
  quickstart/fluid-foam-extend/0/U
  quickstart/fluid-foam-extend/0/p
  quickstart/fluid-foam-extend/0/pointDisplacement
  quickstart/fluid-foam-extend/clean.sh
  quickstart/fluid-foam-extend/constant/dynamicMeshDict
  quickstart/fluid-foam-extend/constant/transportProperties
  quickstart/fluid-foam-extend/constant/turbulenceProperties
  quickstart/fluid-foam-extend/run.sh
  quickstart/fluid-foam-extend/system/blockMeshDict
  quickstart/fluid-foam-extend/system/controlDict
  quickstart/fluid-foam-extend/system/decomposeParDict
  quickstart/fluid-foam-extend/system/fvSchemes
  quickstart/fluid-foam-extend/system/fvSolution
  quickstart/fluid-foam-extend/system/preciceDict
Due: none

Update quickstart/fluid-foam-extend/system/controlDict
  quickstart/fluid-foam-extend/system/controlDict
Due: none

Fix libs declaration in perpendicular-flap/solid-openfoam
  perpendicular-flap/solid-openfoam/system/controlDict
Due: none

Remove unrelated change in metadata.yml
  flow-over-heated-plate/metadata.yaml
Due: none

Format script
  flow-over-heated-plate/plot-final-interface-temperature.py
Due: none

Port from VTK to VTU
  flow-over-heated-plate/plot-final-interface-temperature.py
Due: none

add julia resonant circuit example
  resonant-circuit/capacitor-julia/Project.toml
  resonant-circuit/capacitor-julia/capacitor.jl
  resonant-circuit/capacitor-julia/run.sh
  resonant-circuit/coil-julia/Project.toml
  resonant-circuit/coil-julia/coil.jl
  resonant-circuit/coil-julia/run.sh
Due: none

update README.md
  resonant-circuit/README.md
Due: check-links-to-precice

improve documentation
  perpendicular-flap/README.md
Due: check-links-to-precice

reverse the setting change
  perpendicular-flap/solid-dealii/parameters.prm
Due: none

formatting
  perpendicular-flap/README.md
Due: check-links-to-precice

Move section above disclaimer
  perpendicular-flap/README.md
Due: check-links-to-precice

Fix typos/language
  perpendicular-flap/README.md
Due: check-links-to-precice

Remove intermediate argumentation points
  perpendicular-flap/README.md
Due: check-links-to-precice
