Repository precice/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-image-naming, check-links-to-precice

.pre-commit-config.yaml:

repos:
# Official repo for default hooks
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
    - id: markdownlint
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
    - id: markdownlint-fix
      exclude:  |
            (?x)^(
                changelog-entries|
                .github/pull_request_template.md
            )$
- repo: https://github.com/hhatto/autopep8
  rev: v2.0.4
  hooks:
    - id: autopep8
      args: [ --in-place, --exit-code, --aggressive, --ignore=E402, --max-line-length=120 ]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v14.0.6'
  hooks:
  - id: clang-format
    exclude: '\.json$'
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
    - id: shellcheck
      args: [ --external-sources, --exclude=SC1091 ]
- repo: local
  hooks:
    - id: check-image-naming
      name: check image names
      language: python
      entry: tools/check-image-names.py
      files: ".*/images/.*"
    - id: check-size
      name: check sizes
      language: script
      entry: tools/check-size.sh
      pass_filenames: false
    - id: check-names
      name: check file names
      language: script
      entry: tools/check.sh
      pass_filenames: false
    - id: check-links-to-precice
      name: check links to precice.org
      language: script
      entry: tools/check-links-to-precice.sh
      types_or: ["markdown", "html"]

Add asciinema recording to Quickstart
  quickstart/README.md
Due: check-links-to-precice

Add DOI badge for system tests paper
  tools/tests/README.md
Due: check-links-to-precice

Document coupling experiments on the perpendicular-flap tutorial
  perpendicular-flap/README.md
Due: check-links-to-precice

Document coupling experiments on the perpendicular-flap tutorial (#692)
  perpendicular-flap/README.md
Due: check-links-to-precice

Remove pip install --user suggestions
  elastic-tube-1d/README.md
  flow-around-controlled-moving-cylinder/README.md
  oscillator-overlap/README.md
  oscillator/README.md
Due: check-links-to-precice

Remove pip install --user suggestions (#693)
  elastic-tube-1d/README.md
  flow-around-controlled-moving-cylinder/README.md
  oscillator-overlap/README.md
  oscillator/README.md
Due: check-links-to-precice

System tests: Handle backticks in commit descriptions
  .github/workflows/system-tests-latest-components.yml
  .github/workflows/system-tests-pr.yml
Due: none

Use printf %q
  .github/workflows/system-tests-latest-components.yml
  .github/workflows/system-tests-pr.yml
Due: none

Port from echo to printf
  .github/workflows/system-tests-latest-components.yml
  .github/workflows/system-tests-pr.yml
Due: none

Fix remaining strings
  .github/workflows/system-tests-pr.yml
Due: none

Back to double quotes
  .github/workflows/system-tests-latest-components.yml
  .github/workflows/system-tests-pr.yml
Due: none

Update preCICE to v3.3.1
  quickstart/README.md
Due: check-links-to-precice

Revert updating the system tests reference versions
  tools/tests/reference_versions.yaml
Due: none

Bump preCICE and OpenFOAM versions in Quickstart (#690)
  .github/workflows/system-tests-latest-components.yml
  .github/workflows/system-tests-pr.yml
  partitioned-heat-conduction/solver-openfoam/.clang-format
  quickstart/README.md
  tools/tests/README.md
  tools/tests/components.yaml
Due: check-links-to-precice

remove warning as corresponding issue was closed
  elastic-tube-1d/README.md
Due: check-links-to-precice

add changelog-entry for #695
  changelog-entries/695.md
Due: check-links-to-precice

Remove oudated warning about cpp and python solvers leading to different results (#695)
  changelog-entries/695.md
  elastic-tube-1d/README.md
Due: check-links-to-precice

add dumux installation in docker image
  free-flow-over-porous-media/metadata.yaml
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
  two-scale-heat-conduction/metadata.yaml
Due: none

Add dumux-adapter as a system test component
  tools/tests/component-templates/dumux-adapter.yaml
  tools/tests/components.yaml
Due: none

add dumux test suite
  .github/workflows/system-tests-latest-components.yml
  tools/tests/build_docker_images.py
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
  tools/tests/tests.yaml
Due: none

Change PRECICE_REF to commit hash '40a98c3'
  tools/tests/reference_versions.yaml
Due: none

Adding reference results
  elastic-tube-1d/reference-results/fluid-cpp_solid-cpp.tar.gz
  elastic-tube-1d/reference-results/fluid-cpp_solid-python.tar.gz
  elastic-tube-1d/reference-results/fluid-python_solid-python.tar.gz
  elastic-tube-1d/reference_results.metadata
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-fenics.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-nutils.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-openfoam.tar.gz
  flow-over-heated-plate/reference_results.metadata
  multiple-perpendicular-flaps/reference_results.metadata
  perpendicular-flap/reference-results/fluid-openfoam_solid-calculix.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-dealii.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-upstream-dealii_solid-downstream-dealii.tar.gz
  perpendicular-flap/reference-results/fluid-su2_solid-fenics.tar.gz
  perpendicular-flap/reference_results.metadata
Due: none

Update partitioned-heat-conduction/README.md
  partitioned-heat-conduction/README.md
Due: check-links-to-precice

Update reference results (#697)
  elastic-tube-1d/reference-results/fluid-cpp_solid-cpp.tar.gz
  elastic-tube-1d/reference-results/fluid-cpp_solid-python.tar.gz
  elastic-tube-1d/reference-results/fluid-python_solid-python.tar.gz
  elastic-tube-1d/reference_results.metadata
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-fenics.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-nutils.tar.gz
  flow-over-heated-plate/reference-results/fluid-openfoam_solid-openfoam.tar.gz
  flow-over-heated-plate/reference_results.metadata
  multiple-perpendicular-flaps/reference_results.metadata
  perpendicular-flap/reference-results/fluid-openfoam_solid-calculix.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-dealii.tar.gz
  perpendicular-flap/reference-results/fluid-openfoam_solid-upstream-dealii_solid-downstream-dealii.tar.gz
  perpendicular-flap/reference-results/fluid-su2_solid-fenics.tar.gz
  perpendicular-flap/reference_results.metadata
  tools/tests/reference_versions.yaml
Due: none

Update reference results to precice d199bb3
  tools/tests/reference_versions.yaml
Due: none

add ref versions
  tools/tests/reference_versions.yaml
Due: none

change stage name
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

dockerfile change
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Update tools/tests/dockerfiles/ubuntu_2404/Dockerfile
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Move TUTORIALS_REF down
  .github/workflows/system-tests-latest-components.yml
Due: none

Update tools/tests/reference_versions.yaml
  tools/tests/reference_versions.yaml
Due: none

Wrap env variables with braces
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Add default DUNE and DuMux versions in components.yaml
  tools/tests/components.yaml
Due: none

Rever unrelated changes to build_docker_images.py
  tools/tests/build_docker_images.py
Due: none

Fix DuMuX setup in ubuntu_2404 Dockerfile
  tools/tests/components.yaml
  tools/tests/dockerfiles/ubuntu_2404/Dockerfile
Due: none

Conform to naming nomenclature in the tutorials
  two-scale-heat-conduction/macro-dumux/appl/main.cc
  two-scale-heat-conduction/macro-nutils/macro.py
  two-scale-heat-conduction/micro-dumux/appl/micro_sim.cpp
  two-scale-heat-conduction/micro-dumux/micro-manager-config.json
  two-scale-heat-conduction/micro-nutils/micro-manager-config.json
  two-scale-heat-conduction/micro-nutils/micro.py
  two-scale-heat-conduction/precice-config.xml
Due: none

Remove network from precice-config.xml
  two-scale-heat-conduction/precice-config.xml
Due: none

Update precice-config.xml visualization
  two-scale-heat-conduction/images/tutorials-two-scale-heat-conduction-precice-config.png
Due: check-image-naming
